@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-alert {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: var(--radius-4);
	padding: var(--space-sm) var(--space-md);

	&__close {
		.close(calc(22rem / 16));
		position: absolute;
		z-index: 1;
		top: var(--space-sm);
		right: var(--space-sm);
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			color: inherit;
			border-color: inherit;
		}
	}

	&__title {
		margin: 0;
		text-decoration: underline;
	}

	&--center {
		text-align: center;
	}

	each(@colors, {
		
    &--@{value} {
			color: var(~"--text-@{value}-subtle");
      background: var(~"--background-@{value}-minimal");

      .orion-alert__title {
        color: var(~"--text-@{value}-subtle");
      }

			&:not(.orion-alert--inverse):not(.orion-alert--default) > {
				.orion-alert__title, .orion-alert__contrast {
					.color-contrast();
				}
			}
    }
  });

	&--default {
		color: var(--text-default-default);
		background: var(--background-neutral-subtle);
	}

	&--inverse {
		color: var(--text-default-minimal);
		background: var(--background-neutral-highlight);

		.orion-alert__title  {
			color: var(--text-default-minimal);
		}
	}
}
