@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-alert {
	position: relative;
	border-radius: var(--o-radius-md);
	padding: var(--o-space-16);
	font-size: var(--o-typography-label-bold-font-size);
	display: grid;
	grid-template-columns: 1rem auto 1rem;
	grid-template-areas: 'content content content';
	gap: var(--o-space-8);

	&--closable {
		grid-template-areas: 'content content close';
	}

	&--icon {
		grid-template-areas: 'icon content content';
	}

	&--icon.orion-alert--closable {
		grid-template-areas: 'icon content close';
	}

	&__close {
		grid-area: close;
		.close(var(--o-typography-body-default-font-size));
		z-index: 1;
		justify-self: flex-end;
		justify-content: center;
		margin-top: 0.125rem;

		&:hover {
			color: inherit;
			border-color: inherit;
		}
	}

	&__title {
		grid-area: content;
		margin: 0;
		line-height: 20px;
	}

	&__content {
		grid-area: content;
		display: flex;
		gap: var(--o-space-8);
		flex-direction: column;

		.orion-alert--center & {
			align-items: center;
		}
	}

	&__icon {
		grid-area: icon;
		font-size: var(--o-typography-body-default-font-size);
	}

	each(@colors, {
		
    &--@{value} {
			color: var(~"--o-text-@{value}-subtle");
      background: var(~"--o-background-@{value}-minimal");
			border: 1px solid var(~"--o-border-@{value}-subtle");

      .orion-alert__title {
        color: var(~"--o-text-@{value}-subtle");
      }
    }
  });

	&--default {
		color: var(--o-text-default-default);
		background: var(--o-background-neutral-subtle);
	}

	&--inverted {
		color: var(--o-text-default-minimal);
		background: var(--o-background-neutral-highlight);

		.orion-alert__title  {
			color: var(--o-text-default-minimal);
		}
	}
}



