@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-avatar {
	display: flex;
	align-items: center;
	gap: var(--o-space-8);

	&__pill {
		transition: all 0.3s;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
		border-radius: 100%;
		aspect-ratio: 1;

		.orion-avatar--xl & {
			.circle(3.5rem);
		}

		.orion-avatar--lg & {
			.circle(3rem);
		}

		.orion-avatar--md & {
			.circle(2.5rem);
		}

		.orion-avatar--sm & {
			.circle(2rem);
		}

		.orion-avatar--xs & {
			.circle(1.5rem);
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&-name {
			.typography(body2-bold);
		}

		&-description {
			.typography(body2-default);
		}

		.orion-avatar--xl & {
			&-name {
				.typography(body1-bold);
			}

			&-description {
				.typography(body1-default);
			}
		}

		.orion-avatar--lg & {
			&-name {
				.typography(body2-bold);
			}

			&-description {
				.typography(body2-default);
			}
		}

		.orion-avatar--md & {
			&-name {
				.typography(label-bold);
			}

			&-description {
				.typography(label-default);
			}
		}

		.orion-avatar--sm & {
			&-name {
				.typography(label-bold);
			}

			&-description {
				.typography(label-default);
			}
		}

		.orion-avatar--xs & {
			&-name {
				.typography(label-bold);
			}

			&-description {
				.typography(label-default);
			}
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
		aspect-ratio: 1;
	}

	&__initial {
		transition: font-size 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		color: var(--o-text-default-inverted);
		line-height: 1;
		border-radius: inherit;

		.orion-avatar--xl & {
			.typography(heading-h4);
		}

		.orion-avatar--lg & {
			.typography(heading-h5);
		}

		.orion-avatar--md & {
			.typography(body1-bold);
		}

		.orion-avatar--sm & {
			.typography(label-bold);
		}

		.orion-avatar--xs & {
			.typography(caption-bold);
		}

		each(@colors, {
			.orion-avatar--@{value} & {
				background: var(~"--o-background-@{value}-default");
				border: 1px solid var(~"--o-border-@{value}-subtle");
			}
		});

		.orion-avatar--default>& {
			background: var(--o-background-neutral-subtle);
			color: var(--o-text-default-default);
		}

		.orion-avatar--inverted>& {
			background: var(--o-background-neutral-highlight);
		}
	}

	&__picto {
		.flex-align();
		transition: transform 0.3s, opacity 0.3s;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		color: var(--o-text-default-default);
		background: var(--o-background-neutral-default);
		cursor: pointer;

		.orion-avatar--xl &,
		.orion-avatar--lg & {
			.orion-icon {
				font-size: 1rem;
			}
		}

		.orion-avatar--md &,
		.orion-avatar--sm & {
			.orion-icon {
				font-size: 0.75rem;
			}
		}

		.orion-avatar--xs & {
			opacity: 0;
		}

		.orion-avatar--xs & {
			.orion-icon {
				font-size: 0.75rem;
			}

			&:hover {
				opacity: 1;
			}
		}

		.orion-avatar--square & {
			transform: translate3d(calc(var(--o-space-8) * -1),
					calc(var(--o-space-8) * -1),
					0);
		}
	}

	&--xl {
		gap: var(--o-space-8);
	}

	&--lg {
		gap: var(--o-space-8);
	}

	&--md {
		gap: var(--o-space-6);
	}

	&--8 {
		gap: var(--o-space-6);
	}

	&--xs {
		gap: var(--o-space-4);
	}

	&--square {
		.orion-avatar__pill {
			border-radius: 0;
		}

		.orion-avatar__picto {
			transform: translate3d(calc(var(--o-space-8) * 0.5),
					calc(var(--o-space-8) * 0.5),
					0);
		}
	}

	&--contain {
		.orion-avatar__image {
			object-fit: contain;
		}
	}
}