@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-avatar {
	display: flex;
	align-items: center;
	gap: var(--space-sm);

	&__pill {
		transition: all 0.3s;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
		border-radius: 100%;
		aspect-ratio: 1;

		.orion-avatar--xl & {
			.circle(3.5rem);
		}

		.orion-avatar--lg & {
			.circle(3rem);
		}
		
		.orion-avatar--md & {
			.circle(2.5rem);
		}

		.orion-avatar--sm & {
			.circle(2rem);
		}
		.orion-avatar--xs & {
			.circle(1.5rem);
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&-name {
			font-weight: var(--o-typography-weight-semibold);
		}

		.orion-avatar--xl & {
			&-name {
				font-size: var(--o-typography-size-lg)
			}

			&-description {
				font-size: var(--o-typography-body)
			}
		}

		.orion-avatar--lg & {
			font-size: var(--o-typography-body);
		}

		.orion-avatar--md & {
			font-size: var(--o-typography-size-sm);
		}

		.orion-avatar--sm & {
			&-name {
				font-size: var(--o-typography-size-sm)
			}

			&-description {
				font-size: var(--o-typography-size-xs)
			}
		}

		.orion-avatar--xs & {	
			font-size: var(--o-typography-size-xs)
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
		aspect-ratio: 1;
	}

	&__initial {
		transition: font-size 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		color: 	 var(--o-text-default-inverted);
		line-height: 1;
		border-radius: inherit;

		.orion-avatar--xl & {
			font-size: var(--o-typography-h5);
		}

		.orion-avatar--lg & {
			font-size: var(--o-typography-body-large);
		}

		.orion-avatar--md & {
			font-size: var(--o-typography-body);
		}

		.orion-avatar--sm & {
			font-size: var(--o-typography-size-sm);
		}

		.orion-avatar--xs & {
			font-size: var(--o-typography-size-xs);
		}

		each(@colors, {
			.orion-avatar--@{value} & {
				background:  var(~"--o-background-@{value}-default");
				border: 1px solid var(~"--o-border-@{value}-subtle");
			}
		});

		.orion-avatar--default > & {
			background: var(--o-background-neutral-subtle);
			color: var(--o-text-default-default);
		}

		.orion-avatar--inverted > & {
			background: var(--o-background-neutral-highlight);
		}
	}

	&__picto {
		.flex-align();
		transition: transform 0.3s, opacity 0.3s;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		color: var(--o-text-default-default);
		background: var(--o-background-neutral-default);
		cursor: pointer;

		.orion-avatar--xl &, .orion-avatar--lg & {
			.orion-icon {
				font-size: 1rem;
			}
		}

		.orion-avatar--md &, .orion-avatar--sm & {
			.orion-icon {
				font-size: 0.75rem;
			}
		}

		.orion-avatar--sm & {
			bottom: calc(var(--o-space-8) * -1);
			right: calc(var(--o-space-8) * -1);
			
			.orion-icon {
				font-size: 0.625rem;
			}
		}

		.orion-avatar--xs & {
			opacity: 0;
		}

		.orion-avatar--xs & {
			.orion-icon {
				font-size: 0.75rem;
			}
			&:hover {
			opacity: 1;
			}
		}

		.orion-avatar--square & {
			transform: translate3d(
				calc(var(--o-space-8) * -1),
				calc(var(--o-space-8) * -1),
				0
			);
		}
	}

	&--xl {
		gap: var(--space-sm);			
	}

	&--lg {
			gap: var(--space-sm);
	}

	&--md {
			gap: var(--space-xs);
	}

	&--sm {
			gap: var(--space-xs);
	}

	&--xs {
		gap: var(--space-xxs);
	}

	&--square {
		.orion-avatar__pill {
			border-radius: 0;
		}

		.orion-avatar__picto {
			transform: translate3d(
				calc(var(--space-sm) * 0.5),
				calc(var(--space-sm) * 0.5),
				0
			);
		}
	}

	&--contain {
		.orion-avatar__image {
			object-fit: contain;
		}
	}
}



