@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-period {
	color: white;
	border-radius: 1.25rem;
	z-index: 1;

	display: flex;
	align-items: center;

	> div {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		flex: 1;
	}

	>div:hover > .orion-period__resize-handle{
		display: block;
	}

	&__dates {
		flex: 1;
		overflow: hidden;
	}

	&__progress {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: radial-gradient(closest-side, var(--info) 79%, transparent 80% 100%), conic-gradient(white 35%, blue 0);   
		> progress {
			visibility: hidden;
			height: 0;
			width: 0;
		}

		&::before {
			position:absolute;
			top:20%;
			left:10%;
			content: "75%";
			font-size: 0.5rem;
		  }
	}

	&__resize-handle {
		position: absolute;
		width: .75rem;
		height: .75rem;
		border: 1px grey solid;
		border-radius: 1rem;
		background-color: lightgray;
		transition: all 0.2s;
		display: none;
		
		&:hover {
			transform: scale(1.2);
		}

		&--left {
			left: -5px;
		}

		&--right {
			right: -5px;
		}
	}

	each(@colors, {
		@color: ~"--@{value}";
		&--@{value} {
			background-color: var(@color);
		}
	});
}