.DS_Store
node_modules
dist
sandbox/views/sandbox-*


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VuePress
.temp
.cache

!.vscode/snippets.code-snippets
