@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-otp {
	display: flex;
	gap: 0.5rem;

	&__input {
		width: 2.5rem;
		text-align: center;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		margin: 0;
		appearance: none;
	}

	input[type="number"] {
		appearance: textfield;
	}
}
