@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-date-week {
	flex: 1;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-current-display {
			display: flex;
			gap: 0.25rem;
			align-items: center;
			font-weight: 600;
			line-height: 1.5rem;

			> span {
				display: block;
				padding: calc(0.0625rem + 0.125rem) var(--o-space-16);
			}
		}

		&-carret {
			cursor: pointer;
			font-size: 1.25rem;
			color: var(--o-text-neutral-default);

			&:hover {
				color: var(--o-text-primary-default);
			}

			&.disable {
				cursor: not-allowed;
				opacity: 0.4;
			}
		}
	}

	&__week {
		&-picker {
			overflow: auto;
			max-height: calc(240rem / 16);
			margin-top: 1rem;
			font-size: 0.85rem;
			color: var(--o-text-neutral-default);
		}

		&-row {
			cursor: pointer;
			width: fit-content;
			padding: var(--o-space-8) var(--o-space-16);
			transition: background 0.3s;

			&:hover {
				background: var(--o-background-neutral-minimal);
			}

			&--disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}

			&--active > div {
				color: var(--o-text-primary-default);
			}

			@media @phone {
				flex-direction: column;
			}
		}

		&-number {
			font-weight: 600;
			color: var(--o-text-neutral-default);
		}

		&-readable-days {
			font-size: 0.8125rem;
			color: var(--o-text-neutral-moderate);
			white-space: nowrap;
		}
	}

	&-row {
		display: flex;
		gap: var(--o-space-4);
		justify-content: center;
		text-align: center;
	}
}
