@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

@timerSize: 2rem;

.orion-notif {
	position: fixed;
	z-index: @zIndexOrionNotif;
	right: 2rem;
	bottom: 2rem;
	display: flex;
	gap: var(--o-space-16);
	width: 23.75rem;
	min-height: 3.5rem;
	max-height: 8.875rem;
	padding: var(--o-space-16);
	border: 1px solid var(--o-border-neutral-default);
	border-radius: var(--o-radius-md);
	color: var(--o-text-neutral-default);
	backface-visibility: hidden;
	background: var(--o-background-neutral-default);
	box-shadow: 0 4px 6px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 3%);
	.typography(body2-default);

	&__header {
		position: relative;
		display: flex;
		gap: var(--o-space-4);
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--o-space-4);
		justify-content: center;
		width: 100%;
	}

	&__title {
		.typography(body2-bold);

		margin: 0;
		color: var(--o-text-neutral-default);
	}

	&__message {
		margin-bottom: calc(3rem / 16);
	}

	&__icon {
		.square(1.25rem);
		.flex-align();

		position: relative;
		margin-top: 0.0625rem;
		color: var(--o-text-neutral-subtle);

		&.orion-icon {
			font-size: var(--o-typography-heading-h5-font-size);
		}
	}

	&__timer {
		.circle(@timerSize);
		.flex-align();

		cursor: pointer;
		position: absolute;
		top: -0.5rem;
		right: 0;
		font-size: var(--o-typography-body2-default-font-size);
		font-weight: var(--o-typography-body2-default-font-weight);
		color: var(--o-text-neutral-default);

		&-circle {
			.circle(@timerSize);

			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid var(--o-border-neutral-default);
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
			animation: rotate 1s infinite linear;

			.orion-notif--primary & {
				border-color: var(--o-border-primary-default);
			}

			.orion-notif--info & {
				border-color: var(--o-border-info-default);
			}

			.orion-notif--success & {
				border-color: var(--o-border-success-default);
			}

			.orion-notif--warning & {
				border-color: var(--o-border-warning-default);
			}

			.orion-notif--danger & {
				border-color: var(--o-border-danger-default);
			}
		}

		&-progress {
			pointer-events: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;

			&--animated {
				transform-origin: left;
				animation-name: scale-x-to-zero;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}

			.orion-notif--info & {
				background-color: rgba(var(--o-background-info-default), 0.05);
			}

			.orion-notif--success & {
				background-color: rgba(var(--o-background-success-default), 0.05);
			}

			.orion-notif--warning & {
				background-color: rgba(var(--o-background-warning-default), 0.075);
			}

			.orion-notif--danger & {
				background-color: rgba(var(--o-background-danger-default), 0.075);
			}
		}
	}

	&__close {
		.close(1.25rem);

		position: relative;
		place-self: flex-start flex-end;
		color: var(--o-text-neutral-subtle);
	}

	each(@colors, {
		&--@{value} {

			&:has(.orion-notif__timer) {
				background-color: var(~"--o-background-@{value}-minimal");
			}

			.orion-notif__icon {
				color: var(~"--o-text-@{value}-default");
			}
		}
	});
}
