@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-card {
	--hoverElevation: 1;
	--elevation: calc(1rem * var(--hoverElevation));
	--shadowColor: rgba(0, 0, 0, calc(0.03 * (1 + var(--hoverElevation) / 5)));
	transition: box-shadow 0.3s, transform 0.3s;
	position: relative;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: var(--radius-8);
	box-shadow: 0 0.0625rem 0.1875rem fade(black, 10);
	color: var(--border-default);

	[data-orion-theme='dark'] & {
		background: var(--background-neutral-subtle);
	}

	img {
		max-width: 100%;
	}

	&__poster {
		border-radius: var(--radius-8) var(--radius-8) 0 0;
		overflow: hidden;

		> img {
			display: block;
			width: 100%;
			object-fit: cover;
		}
	}

	&__header {
		.orion-card--xs > & {
			padding: var(--space-sm) var(--space-sm) 0;
		}

		.orion-card--sm > & {
			padding: var(--space-md) var(--space-md) 0;
		}

		.orion-card--md > & {
			padding: var(--space-lg) var(--space-lg) 0;
		}

		.orion-card--lg > & {
			padding: var(--space-lg) var(--space-lg) 0;
		}

		.orion-card--xl > & {
			padding: var(--space-lg) var(--space-lg) 0;
		}

		&--lined {
			border: 0;
			border-bottom: 0.0625rem solid;
			border-image: linear-gradient(
					to right,
					rgba(var(--background-neutral-minimal), 0),
					var(--background-neutral-subtle)
				)
				1;
			[data-orion-theme='dark'] & {
				border-image: linear-gradient(
						to right,
						rgba(var(--background-neutral-minimal), 0),
						rgba(var(--background-neutral-moderate), 0.3)
					)
					1;
			}

			.orion-card--xs & {
				padding: var(--space-sm);
			}

			.orion-card--sm & {
				padding: var(--space-md);
			}

			.orion-card--md & {
				padding: var(--space-lg);
			}

			.orion-card--lg & {
				padding: var(--space-lg);
			}

			.orion-card--xl & {
				padding: var(--space-lg);
			}
		}
	}

	&__body {
		flex: 1 0 0%;

		.orion-card--xs > & {
			padding: var(--space-sm);
		}

		.orion-card--sm > & {
			padding: var(--space-md);
		}

		.orion-card--md > & {
			padding: var(--space-lg);
		}

		.orion-card--lg > & {
			padding: var(--space-lg);
		}

		.orion-card--xl > & {
			padding: var(--space-lg);
		}

		&:empty {
			padding-top: 0;
		}

		> .orion-loader,
		> .orion-overlay {
			border-radius: var(--radius-8);
		}
	}

	&__actions {
		.flex-align();
		position: relative;
		flex-wrap: wrap-reverse;
		color: var(--border-default);

		&--right {
			justify-content: flex-end;
		}

		.icon {
			position: relative;
			transition: color 0.3s;
			margin: 0 0.5rem;
			font-size: 1.25rem;

			@media @phone {
				margin: 0.5rem;
				font-size: 1.5rem;
			}

			&__indicator {
				.circle(0.5rem);
				position: absolute;
				bottom: 0;
				background: var(--border-default);

				&--info {
					background: var(--background-info-default);
				}

				&--mobile {
					.circle(1rem);
					.flex-align();
					left: -0.3rem;
					bottom: -0.5rem;

					&::after {
						font-family: var(--font-family);
						content: attr(data-count);
						color: white;
						font-size: 0.5rem;
						font-weight: bold;
					}
				}
			}

			&:hover:not(.orion-icon--ripple) {
				color: var(--background-info-default);
			}
		}

		.orion-button {
			margin: 0.5rem;
		}

		.orion-card--xs > & {
			padding: 0 var(--space-sm) var(--space-sm);
		}

		.orion-card--sm > & {
			padding: var(--space-xs) var(--space-sm) var(--space-lg);
		}

		.orion-card--md > & {
			padding: var(--space-sm) var(--space-md) var(--space-lg);
		}

		.orion-card--lg > & {
			padding: var(--space-md) var(--space-lg) var(--space-lg);
		}

		.orion-card--xl > & {
			padding: var(--space-lg) var(--space-lg) var(--space-lg);
		}

		&--lined {
			border: 0;
			border-top: 0.0625rem solid;
			border-image: linear-gradient(
					to right,
					rgba(var(--background-neutral-minimal), 0),
					var(--background-neutral-subtle)
				)
				1;

			.orion-card--xl > & {
				padding: var(--space-sm);
			}

			.orion-card--xl > & {
				padding: var(--space-md);
			}

			.orion-card--md > & {
				padding: var(--space-lg);
			}

			.orion-card--lg > & {
				padding: var(--space-lg) var(--space-lg);
			}

			.orion-card--xl > & {
				padding: var(--space-lg) var(--space-lg);
			}
		}
	}

	&__title {
		margin: 0;
		color: var(--text-default-default);
		font-weight: 600;
	}

	&__selected {
		transition: transform 0.3s;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		pointer-events: none;
		border-bottom-right-radius: var(--radius-8);
		overflow: hidden;
		transform-origin: bottom right;
		transform: scale(0);

		.orion-card--selected & {
			transform: scale(1);
		}

		svg {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		svg.marker {
			.square(5.625rem);

			each(@colors, {
				.orion-card--selected-@{value} & {
					fill: var(~"--background-@{value}-default");
				}
			});

			.orion-card--selected-default & {
				fill: var(--background-neutral-moderate);
			}

			.orion-card--selected-inverse & {
				fill: var(--text-default-default);
			}
		}

		svg.check {
			transition: all 0.3s ease;
			bottom: 0.3rem;
			right: 0.3rem;
			width: 0.75rem;
			height: 0.5rem;
			fill: none;
			stroke: white;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 1rem;
			stroke-dashoffset: 1rem;

			.orion-card--selected & {
				transition-delay: 0.3s;
				stroke-dashoffset: 0;
			}
		}

		&::after,
		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&::before {
			top: 0.5rem;
			width: 0.0625rem;

			each(@colors, {
				@rgbColor: ~"--rgb-@{value}";
				.orion-card--selected-@{value} & {
					background: linear-gradient(to bottom, rgba(var(@rgbColor), 0), rgb(var(@rgbColor)));
				}
			});

			.orion-card--selected-default & {
				background: linear-gradient(
					to bottom,
					rgba(var(--background-neutral-default), 0),
					rgb(var(--background-neutral-default))
				);
			}

			.orion-card--selected-inverse & {
				background: linear-gradient(
					to bottom,
					rgba(var(--text-default-default), 0),
					rgb(var(--text-default-default))
				);
			}
		}

		&::after {
			left: 0.5rem;
			height: 0.0625rem;

			each(@colors, {
				@rgbColor: ~"--rgb-@{value}";
				.orion-card--selected-@{value} & {
					background: linear-gradient(to right, rgba(var(@rgbColor), 0), rgb(var(@rgbColor)));
				}
			});

			.orion-card--selected-default & {
				background: linear-gradient(
					to right,
					rgba(var(--background-neutral-default), 0),
					rgb(var(--background-neutral-default))
				);
			}

			.orion-card--selected-inverse & {
				background: linear-gradient(
					to right,
					rgba(var(--text-default-default), 0),
					rgb(var(--text-default-default))
				);
			}
		}

		.icon {
			position: absolute;
			bottom: 0.3rem;
			right: 0.3rem;
			font-size: 0.5rem;
			color: white !important;
			margin: 0 !important;
		}
	}

	&--clickable {
		cursor: pointer;
	}

	&[class*='--gradient-'] {
		color: white;
		.orion-card__title {
			color: white;
		}
	}

	each(@colors, {
		&--gradient-@{value} {
			[data-orion-theme="light"] &,
			[data-orion-theme="dark"] & {
				@color: ~"--@{value}";
				@colorAlt: ~"--@{value}-alt";
				background: linear-gradient(
					to bottom right,
					var(@color),
					var(@colorAlt)
				);
			}
		}
	});

	&--gradient-default.orion-card {
		color: var(--text-default-default);

		.orion-card__title {
			color: var(--text-default-default);
		}

		[data-orion-theme='light'] & {
			background: linear-gradient(to bottom right, var(--background-neutral-subtle), white);
		}
		[data-orion-theme='dark'] & {
			background: linear-gradient(to bottom right, var(--background-neutral-subtle), black);
		}
	}

	&--gradient-inverse.orion-card {
		color: var(--background-neutral-minimal);

		.orion-card__title {
			color: var(--background-neutral-minimal);
		}

		[data-orion-theme='light'] & {
			background: linear-gradient(to bottom right, var(--text-default-default), black);
		}
		[data-orion-theme='dark'] & {
			background: linear-gradient(to bottom right, var(--text-default-default), white);
		}
	}

	&:not(.orion-card--no-elevation):hover {
		body:not(.istouch) & {
			z-index: 1;
			transform: translate3d(0, -0.125rem, 0);
			box-shadow: 0 calc(var(--elevation) / 8) calc(var(--elevation) / 8)
					var(--shadowColor),
				0 calc(var(--elevation) / 4) calc(var(--elevation) / 4)
					var(--shadowColor),
				0 calc(var(--elevation) / 2) calc(var(--elevation) / 2)
					var(--shadowColor),
				0 var(--elevation) var(--elevation) var(--shadowColor),
				0 calc(var(--elevation) * 2) calc(var(--elevation) * 2)
					var(--shadowColor);
		}
	}
}
