@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-card {
	--hover-elevation: 1;
	--elevation: calc(1rem * var(--hover-elevation));
	--shadow-color: rgba(0, 0, 0, calc(0.03 * (1 + var(--hover-elevation) / 5)));

	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: var(--o-radius-xl);
	color: var(--o-text-neutral-default);
	background: var(--o-background-neutral-default);
	box-shadow: 0 0.0625rem 0.1875rem fade(black, 10);
	transition:
		box-shadow 0.3s,
		transform 0.3s;

	img {
		max-width: 100%;
	}

	&__poster {
		overflow: hidden;
		border-radius: var(--o-radius-md) var(--o-radius-md) 0 0;

		>img {
			display: block;
			width: 100%;
			object-fit: cover;
		}
	}

	&__header {
		.orion-card--xs > & {
			padding: var(--o-space-12) var(--o-space-12) 0;
		}

		.orion-card--sm > & {
			padding: var(--o-space-16) var(--o-space-16) 0;
		}

		.orion-card--md > & {
			padding: var(--o-space-24) var(--o-space-24) 0;
		}

		.orion-card--lg > & {
			padding: var(--o-space-32) var(--o-space-32) 0;
		}

		.orion-card--xl > & {
			padding: var(--o-space-48) var(--o-space-48) 0;
		}
	}

	&__header-content {
		display: flex;
		flex-direction: column;
		gap: var(--o-space-8);

		&--lined {
			border-bottom: 0.0625rem solid var(--o-border-neutral-default);

			.orion-card--xs & {
				padding-bottom: var(--o-space-12);
			}

			.orion-card--sm & {
				padding-bottom: var(--o-space-16);
			}

			.orion-card--md & {
				padding-bottom: var(--o-space-24);
			}

			.orion-card--lg & {
				padding-bottom: var(--o-space-32);
			}

			.orion-card--xl & {
				padding-bottom: var(--o-space-48);
			}
		}
	}

	&__body {
		.typography(body2-default);

		flex: 1 0 0%;

		.orion-card--xs > & {
			padding: var(--o-space-12);
		}

		.orion-card--sm > & {
			padding: var(--o-space-16);
		}

		.orion-card--md > & {
			padding: var(--o-space-24);
		}

		.orion-card--lg > & {
			padding: var(--o-space-32);
		}

		.orion-card--xl > & {
			padding: var(--o-space-48);
		}

		&:empty {
			padding-top: 0;
		}

		>.orion-loader,
		>.orion-overlay {
			border-radius: var(--o-radius-md);
		}
	}

	&__actions {
		.orion-icon {
			font-size: 1.25rem;

			&:hover:not(.orion-icon--ripple) {
				color: var(--o-text-primary-default);
			}

			@media @phone {
				font-size: 1.5rem;
			}
		}

		.orion-card--xs & {
			padding: 0 var(--o-space-12) var(--o-space-12) var(--o-space-12);
		}

		.orion-card--sm & {
			padding: 0 var(--o-space-16) var(--o-space-16) var(--o-space-16);
		}

		.orion-card--md & {
			padding: 0 var(--o-space-24) var(--o-space-24) var(--o-space-24);
		}

		.orion-card--lg & {
			padding: 0 var(--o-space-32) var(--o-space-32) var(--o-space-32);
		}

		.orion-card--xl & {
			padding: 0 var(--o-space-48) var(--o-space-48) var(--o-space-48);
		}
	}

	&__actions-content {
		.flex-align();

		position: relative;
		flex-wrap: wrap-reverse;
		gap: 1rem;
		color: var(--o-text-neutral-default);

		&--lined {
			border-top: 0.0625rem solid var(--o-border-neutral-default);

			.orion-card--xs & {
				padding-top: var(--o-space-12);
			}

			.orion-card--sm & {
				padding-top: var(--o-space-16);
			}

			.orion-card--md & {
				padding-top: var(--o-space-24);
			}

			.orion-card--lg & {
				padding-top: var(--o-space-32);
			}

			.orion-card--xl & {
				padding-top: var(--o-space-48);
			}
		}
	}

	&__title {
		.typography(heading-h5);

		margin: var(--o-space-0);
		color: var(--o-text-neutral-default);

		.orion-card--xs & {
			.typography(body2-bold);
		}

		.orion-card--sm & {
			.typography(body1-bold);
		}

		.orion-card--lg & {
			.typography(heading-h4);
		}

		.orion-card--xl & {
			.typography(heading-h3);
		}
	}

	&__subtitle {
		.typography(body2-default);

		margin: var(--o-space-0);
		color: var(--o-text-neutral-subtle);

		.orion-card--xs & {
			.typography(body2-default);
		}

		.orion-card--sm & {
			.typography(body1-default);
		}

		.orion-card--lg & {
			.typography(heading-h5);
		}

		.orion-card--xl & {
			.typography(heading-h4);
		}
	}

	&__selected {
		pointer-events: none;
		position: absolute;
		inset: 0;
		transform-origin: bottom right;
		transform: scale(0);
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		border-bottom-right-radius: var(--o-radius-md);
		transition: transform 0.3s;

		&::after,
		&::before {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			display: block;
		}

		&::before {
			top: 0.5rem;
			width: 0.0625rem;

			each(@colors, {
				@color: ~"--o-background-@{value}-default";

				.orion-card--selected-@{value} & {
					background: linear-gradient(to bottom,
					color-mix(in srgb, var(@color) 0%, transparent),
					color-mix(in srgb, var(@color) 100%, transparent));
				}
			});

			.orion-card--selected-default & {
				background:
					linear-gradient(
						to bottom,
						color-mix(in srgb, var(--o-background-neutral-default) 0%, transparent),
						color-mix(in srgb, var(--o-background-neutral-default) 100%, transparent)
					);
			}

			.orion-card--selected-inverted & {
				background:
					linear-gradient(
						to bottom,
						color-mix(in srgb, var(--o-background-neutral-default) 0%, transparent),
						color-mix(in srgb, var(--o-background-neutral-default) 100%, transparent)
					);
			}
		}

		&::after {
			left: 0.5rem;
			height: 0.0625rem;

			each(@colors, {
				@color: ~"--o-background-@{value}-default";

				.orion-card--selected-@{value} & {
					background: linear-gradient(to right,
					color-mix(in srgb, var(@color) 0%, transparent),
					color-mix(in srgb, var(@color) 100%, transparent));
				}
			});

			.orion-card--selected-default & {
				background:
					linear-gradient(
						to right,
						color-mix(in srgb, var(--o-background-neutral-default) 0%, transparent),
						color-mix(in srgb, var(--o-background-neutral-default) 100%, transparent)
					);
			}

			.orion-card--selected-inverted & {
				background:
					linear-gradient(
						to right,
						color-mix(in srgb, var(--o-background-neutral-default) 0%, transparent),
						color-mix(in srgb, var(--o-background-neutral-default) 100%, transparent)
					);
			}
		}

		.orion-card--selected & {
			transform: scale(1);
		}

		svg {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		svg.marker {
			.square(5.625rem);

			each(@colors, {
				.orion-card--selected-@{value} & {
					fill: var(~"--o-background-@{value}-default");
				}
			});

			.orion-card--selected-default & {
				fill: var(--o-background-neutral-moderate);
			}

			.orion-card--selected-inverted & {
				fill: var(--o-background-neutral-highlight);
			}
		}

		svg.check {
			right: 0.3rem;
			bottom: 0.3rem;
			width: 0.75rem;
			height: 0.5rem;
			fill: none;
			stroke: white;
			stroke-dasharray: 1rem;
			stroke-dashoffset: 1rem;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 2;
			transition: all 0.3s ease;

			.orion-card--selected & {
				stroke-dashoffset: 0;
				transition-delay: 0.3s;
			}
		}

		.icon {
			position: absolute;
			right: 0.3rem;
			bottom: 0.3rem;
			margin: 0 !important;
			font-size: 0.5rem;
			color: var(--o-text-neutral-inverted) !important;
		}
	}

	&--clickable {
		cursor: pointer;
	}

	&[class*="--gradient-"] {
		color: var(--o-text-neutral-inverted);

		.orion-card__title,
		.orion-card__subtitle {
			color: var(--o-text-neutral-inverted);
		}
	}

	&--gradient-default.orion-card {
		color: var(--o-text-neutral-default);
		background:
			linear-gradient(
				to bottom right,
				color-mix(in srgb, var(--o-background-neutral-default) 100%, transparent),
				color-mix(in srgb, var(--o-background-neutral-moderate) 100%, transparent)
			);

		.orion-card__title,
		.orion-card__subtitle {
			color: var(--o-text-neutral-default);
		}
	}

	&--gradient-inverted.orion-card {
		color: var(--o-text-neutral-default);
		background:
			linear-gradient(
				to bottom right,
				color-mix(in srgb, var(--o-background-neutral-moderate) 100%, transparent),
				color-mix(in srgb, var(--o-background-neutral-highlight) 100%, transparent)
			);

		.orion-card__title,
		.orion-card__subtitle {
			color: var(--o-text-neutral-default);
		}
	}

	&--no-elevation {
		border: 1px solid var(--o-border-neutral-default);
		box-shadow: none;

		&:focus {
			outline: 1px solid var(--o-border-neutral-focus);
		}
	}

	&:not(.orion-card--no-elevation):hover {
		body:not(.istouch) & {
			z-index: 1;
			transform: translate3d(0, -0.125rem, 0);
			box-shadow:
				0 calc(var(--elevation) / 8) calc(var(--elevation) / 8) var(--shadow-color),
				0 calc(var(--elevation) / 4) calc(var(--elevation) / 4) var(--shadow-color),
				0 calc(var(--elevation) / 2) calc(var(--elevation) / 2) var(--shadow-color),
				0 var(--elevation) var(--elevation) var(--shadow-color),
				0 calc(var(--elevation) * 2) calc(var(--elevation) * 2) var(--shadow-color);
		}
	}

	each(@colors, {
		&--gradient-@{value} {
			background: linear-gradient(to bottom right,
			var(~"--o-background-@{value}-default"),
			var(~"--o-background-@{value}-subtle"));
		}
	});
}
