@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-tab-nav {
	transition: color 0.3s, border-color 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--o-space-16);
	border-bottom: 0.125rem solid var(--o-background-neutral-subtle);
	font-size: 0.8125rem;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	color: var(--o-text-default-default);
	cursor: pointer;

	&-wrap {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
	}

	&__icon {
		font-size: var(--o-typography-body1-bold-font-size);
		font-weight: var(--o-typography-body1-bold-font-weight);
		pointer-events: none;
	}

	&__content {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: var(--o-space-8);
	}

	&__label {
		.typography(body2-default);
	}

	&__marker {
		top: 0;
		right: 0;
		transform: translate(100%, -75%);
		position: absolute;

		.orion-tab-nav--disabled & {
			background: var(--o-background-neutral-disabled);
		}
	}

	&:hover:not(.orion-tab-nav--active):not(.orion-tab-nav--disabled) {
		color: var(--o-text-default-default);
		border-color: var(--o-border-primary-default);
	}

	&--active {

		&:not(.orion-tabs--floating) & {
			border-right: none !important;
			border-left: none !important;
		}
		
		border-color: var(--o-border-primary-default);
		color: var(--o-text-primary-default);
	}

	&--disabled {
		cursor: not-allowed;
		color: var(--o-text-default-subtle);
		border-bottom-color: transparent;
	}

	.orion-tabs--floating  & {
		border-radius: var(--o-radius-8);
		padding: var(--o-space-4) var(--o-space-12);
		border: 1px solid transparent;

		&--active {
			background-color: var(--o-background-neutral-default);
			border: 1px solid var(--o-border-neutral-default);
		}

		&:hover:not(.orion-tab-nav--active):not(.orion-tab-nav--disabled) {
			border-color: var(--o-border-neutral-default);
		}
		
		.orion-tab-nav__label {
			.typography(body2-bold);
		}
	}

	@media @phone {
		align-items: flex-start;
		padding: var(--o-space-16) 0.1875rem;

		&-content {
			flex-direction: column;
			justify-content: flex-start;
		}

		&-label {
			font-size: 0.5rem;
			line-height: 1.5;
		}

		&-icon {
			+ .orion-tab-nav__label {
				margin-left: 0;
				margin-top: 0.25rem;
				font-size: 0.5rem;
				line-height: 0.5rem;
			}
		}

		&-marker {
			transform: translate(100%, -50%);
		}
	}

	@media @tabletOnly {
		font-size: 0.75rem;
		line-height: 1.25;
		padding: var(--o-space-32) var(--o-space-16);
	}

	@media @desktopOnly {
		padding: var(--o-space-32);
	}
}

