@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-tabs {
	&__content {
		position: relative;
	}

	&__header {
		width: fit-content;

		&--floating {
			padding: var(--o-space-2);
			border: 1px solid var(--o-border-neutral-default);
			border-radius: var(--o-radius-12);
			background: var(--o-background-neutral-subtle);
		}
	}
}
