@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-input {
	position: relative;
	display: inline-flex;
	gap: var(--o-space-4);
	align-items: center;
	width: 100%;
	height: 2.5rem;
	margin: 0.5rem 0;
	padding: 0 var(--o-space-12);
	border: 0.0625rem solid var(--o-background-neutral-subtle);
	border-radius: var(--o-radius-md);
	background-color: var(--o-background-neutral-default);
	transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	.typography(body2-default);

	&:has(.orion-input__static-label) {
		margin-top: 1.75rem;
	}

	&__label {
		.ellipsis();

		pointer-events: none;
		position: absolute;
		z-index: 1;
		left: 0.5rem;
		max-width: calc(100% - 2rem);
		padding: 0 0.25rem;
		color: var(--o-text-neutral-moderate);
		transition: all 0.3s;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			inset: 0.125rem 0 0.0625rem;
			border-radius: 0.125rem;
			background: var(--o-background-neutral-default);

			.orion-input--disabled & {
				background: var(--o-background-neutral-minimal);
			}
		}

		.orion-input--required & {
			padding-right: calc(6rem / 16);

			&::after {
				content: "*";
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				color: var(--o-text-danger-default);
			}
		}

		.orion-input--prefix-icon & {
			left: 2.25rem;
		}

		.orion-input--xs & {
			top: 0.3125rem;
		}

		&--floating {
			position: absolute;
			top: 0.375rem;
			transform: translate(0, -1.0625rem);
			font-size: 0.75rem;

			.orion-input--xs & {
				transform: translate(0, -1rem);
			}

			.orion-input--focused & {
				color: var(--o-text-primary-default);
			}

			.orion-input--danger & {
				color: var(--o-text-danger-default);
			}

			.orion-input--warning & {
				color: var(--o-text-warning-default);
			}

			.orion-input--success & {
				color: var(--o-text-success-default);
			}

			.orion-input--disabled & {
				color: var(--o-text-neutral-moderate);
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: var(--o-space-6) 0;
		border: none;
		border-radius: var(--o-radius-xs);
		font-family: inherit;
		font-size: inherit;
		color: var(--o-text-neutral-default);
		appearance: none;
		appearance: none;
		background-color: unset;
		background-image: none;
		outline: none;

		.orion-select &,
		.orion-datepicker & {
			&:hover {
				cursor: pointer;
			}
		}

		.orion-input--xs & {
			// height: 2rem;
			.typography(label-default);
		}
	}

	&__error-message {
		margin-top: 0.25rem;
		color: var(--o-text-danger-default);
		.typography(label-default);
	}

	&__hint-text {
		margin-top: 0.25rem;
		color: var(--o-text-neutral-moderate);
		.typography(label-default);
	}

	&__pictos {
		pointer-events: none;
		display: flex;
		gap: var(--o-space-4);
		align-items: center;
		justify-content: flex-end;
		border-radius: var(--o-radius-xs);
		font-size: 1rem;
		background: var(--o-background-neutral-default);

		&:empty {
			display: none;
		}

		.orion-input--disabled & {
			background: var(--o-background-neutral-minimal);
		}

		.orion-input--xs & {
			height: calc(2rem - 2rem / 16);
			padding: 0 var(--o-space-8);
		}

		>.orion-icon--clickable {
			pointer-events: all;
		}
	}

	&__validation {
		.square(1.25rem);
		.flex-align();

		font-size: 1rem;

		&--danger {
			color: var(--o-text-danger-default);

			&:has(+ .orion-input__reveal) {
				display: none;
			}
		}

		&--warning {
			color: var(--o-text-warning-default);
		}

		&--success {
			color: var(--o-text-success-default);

			&:has(+ .orion-input__reveal) {
				display: none;
			}
		}
	}

	&__clearable {
		.close(1rem);

		pointer-events: all;
		align-items: center;
		margin: 0.125rem;
		margin-top: 0;
		color: var(--o-text-neutral-moderate);

		.orion-input--disabled & {
			display: none;
		}
	}

	&__reveal {
		margin-left: 0.3rem;
		color: var(--o-text-neutral-subtle);
	}

	&__icon {
		.square(1.25rem);
		.flex-align();

		font-size: var(--o-typography-body2-default-font-size);
		color: var(--o-text-neutral-subtle);
	}

	&__static-label {
		.typography(body2-bold);

		position: absolute;
		top: -1.5rem;
		left: 0;
		display: block;
		margin-bottom: var(--o-space-4);
		color: var(--o-text-neutral-default);

		& + .orion-input {
			margin: 0;
		}
	}

	&--disabled {
		cursor: not-allowed;
		border-color: var(--o-border-neutral-disabled);
		background: var(--o-background-neutral-minimal);

		.icon {
			color: var(--o-text-neutral-moderate);
		}
	}

	&--danger {
		border-color: var(--o-border-danger-subtle);
	}

	&--warning {
		border-color: var(--o-border-warning-subtle);
	}

	&--success {
		border-color: var(--o-border-success-subtle);
	}

	&:focus,
	&--focused {
		border-color: transparent;
		outline: 1px solid var(--o-border-neutral-focus);
		outline-offset: 2px;
		transition: none;

		&.orion-input--danger {
			outline-color: var(--o-border-danger-default);
		}

		&.orion-input--warning {
			outline-color: var(--o-border-warning-default);
		}

		&.orion-input--success {
			outline-color: var(--o-border-success-default);
		}
	}

	&:has(+ .orion-input__error-message) {
		margin-bottom: 0;
	}

	&:has(+ .orion-input__hint-text) {
		margin-bottom: 0;
	}

	&:hover:not(.orion-input--focused) {
		border-color: var(--o-border-neutral-subtle);
		background-color: var(--o-background-neutral-hover);

		.orion-input__label::before {
			background-color: var(--o-background-neutral-hover);
		}

		.orion-input__pictos {
			background-color: var(--o-background-neutral-hover);
		}

		&.orion-input--danger {
			border-color: var(--o-border-danger-default);
		}

		&.orion-input--warning {
			border-color: var(--o-border-warning-default);
		}

		&.orion-input--success {
			border-color: var(--o-border-success-default);
		}
	}

	&--xs {
		height: 2rem;
		font-size: 0.75rem;
	}
}
