@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-datepicker {
	.orion-input__input {
		overflow: hidden;
		display: flex;
		align-items: center;
		height: inherit;
		min-height: 2.5rem;
	}

	&__timepicker-wrapper {
		display: flex;
	}

	&-multiple {
		display: flex;
		gap: var(--o-space-8);
		align-items: center;

		.orion-input__pictos {
			top: calc(50% - 1.2rem);
		}

		.orion-input__input {
			display: flex;
			align-items: center;
			padding: var(--o-space-8);
		}

		.orion-label {
			display: flex;
			align-items: center;
			height: 1.25rem;
		}

		&__content {
			z-index: 2;
			overflow: hidden;
			display: flex;
			gap: var(--o-space-4);
			align-items: center;
			width: inherit;
			height: 100%;
		}

		&__clearable {
			.flex-align();

			pointer-events: all;
			cursor: pointer;
			margin: 0.125rem;
			font-size: 1rem;
			opacity: 0.7;
			transition: all 0.3s;
			-webkit-tap-highlight-color: transparent;

			&::before {
				content: "\00D7";
				transform: translateY(-0.0625rem);
				font-weight: 600;
			}

			&:hover {
				transform: rotate(90deg);
				border-color: var(--o-border-neutral-default);
				color: var(--o-text-neutral-default);
				opacity: 1;
			}
		}

		&__dropdown {
			display: flex;
			flex-direction: column;
			gap: var(--o-space-4);
			align-items: center;
			justify-content: center;
		}
	}
}

.orion-datepicker-timepicker {
	--picker-height: 8rem;

	display: flex;
	gap: 0.125rem;
	align-items: center;
	justify-content: center;
	width: 9rem;

	&__hours,
	&__minutes {
		scroll-snap-type: y mandatory;
		overflow: auto;
		display: flex;
		flex-direction: column;
		width: 2.5rem;
		height: var(--picker-height);
		border-radius: 0.25rem;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__scroll-item {
		--factor: 1;

		scroll-snap-align: center;
		position: relative;
		display: flex;
		flex: 0 0 calc(var(--picker-height) / 5);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 1px;
		font-size: calc(1.75rem * var(--factor));
		line-height: 1;
		opacity: calc(1 * var(--factor));
		transition: font-size 0.016s, opacity 0.016s;
	}

	&__separator {
		font-size: 1rem;
		font-weight: bold;
	}

	&__scroll-filler {
		flex: 0 0 calc(var(--picker-height) / 5 * 2);
	}

	&__meridian {
		padding-left: 0.5rem;
		font-weight: 600;

		> .active {
			color: var(--o-text-primary-default);
		}
	}
}

.orion-datepicker-timepicker-actions {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--o-space-8);
	justify-content: center;
	padding: 1rem;

	.orion-input__input {
		font-weight: 600;
		text-align: center;
	}
}
