@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-datepicker {
	&__ghost-input {
		cursor: pointer;
		overflow: hidden;
		display: flex;
		flex: 1;
		align-items: center;
		height: auto;
		min-height: var(--o-field-height);
		margin-right: var(--o-field-suffix-picto-space);
		padding-right: var(--o-field-suffix-icon-space);
		padding-left: var(--o-field-prefix-icon-space);
		outline: none;
	}

	&__timepicker-wrapper {
		display: flex;
	}

	&-multiple {
		&__content {
			overflow: hidden;
			display: flex;
			flex: 1;
			gap: var(--o-space-4);
			align-items: center;

			.v-popper {
				display: flex;
				align-items: center;
			}
		}

		&__item {
			display: flex;
			gap: var(--o-space-2);
			align-items: center;
		}

		&__clearable {
			margin-right: -0.25rem;
			.close(1rem);
		}

		&__dropdown {
			display: flex;
			flex-direction: column;
			gap: var(--o-space-4);
			align-items: center;
			justify-content: center;
		}
	}
}

.orion-datepicker-timepicker {
	--picker-height: 8rem;

	display: flex;
	gap: 0.125rem;
	align-items: center;
	justify-content: center;
	width: 9rem;

	&__hours,
	&__minutes {
		scroll-snap-type: y mandatory;
		overflow: auto;
		display: flex;
		flex-direction: column;
		width: 2.5rem;
		height: var(--picker-height);
		border-radius: 0.25rem;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__scroll-item {
		--factor: 1;

		scroll-snap-align: center;
		position: relative;
		display: flex;
		flex: 0 0 calc(var(--picker-height) / 5);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 1px;
		font-size: calc(1.75rem * var(--factor));
		line-height: 1;
		opacity: calc(1 * var(--factor));
		transition: font-size 0.016s, opacity 0.016s;
	}

	&__separator {
		font-size: 1rem;
		font-weight: bold;
	}

	&__scroll-filler {
		flex: 0 0 calc(var(--picker-height) / 5 * 2);
	}

	&__meridian {
		padding-left: 0.5rem;
		font-weight: 600;

		> .active {
			color: var(--o-text-primary-default);
		}
	}
}

.orion-datepicker-timepicker-actions {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--o-space-8);
	justify-content: center;
	padding: 1rem;

	.orion-input__input {
		font-weight: 600;
		text-align: center;
	}
}
