@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-rate {
	display: flex;
	gap: 0.125rem;
	align-items: center;

	&__wrapper {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		line-height: 1;

		.orion-rate--disabled & {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	&__star {
		.square(1.125rem);

		cursor: pointer;
		font-size: 1rem;
		color: var(--o-text-neutral-subtle);

		.orion-rate--disabled & {
			cursor: not-allowed;
		}

		&.half {
			each(@colors, {
				&--@{value} {
					&::before{
						color: transparent;
						background: linear-gradient(to right, var(~"--o-background-@{value}-default"), var(~"--o-background-@{value}-default") 50%, var(--o-background-neutral-minimal) 50%, var(--o-background-neutral-minimal) );
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}

				&--default {
					&::before{
						color: transparent;
						background: linear-gradient(to right, var(--o-background-neutral-minimal), var(--o-background-neutral-minimal) 50%, var(--o-background-neutral-subtle) 50%, var(--o-background-neutral-subtle) );
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			});
		}
	}

	&__number {
		transform: translateY(-0.0625rem);
		color: var(--o-text-neutral-default);
	}

	input {
		display: none;
	}

	each(@colors, {
		&--@{value} {

			input:checked ~ label {
				color: var(~"--o-text-@{value}-default");
			}
			.orion-rate__wrapper:hover {
				input ~ label {
					background: unset;
					color: var(--o-text-neutral-subtle);
				}
				input ~ label:hover,
				input ~ label:hover ~ label {
					background: unset;
					color: var(~"--o-text-@{value}-default") !important;
				}
			}
		}

		&--default {
			input:checked ~ label {
				color: var(--o-text-neutral-default);
			}
			.orion-rate__wrapper:hover {
				input ~ label {
					background: unset;
					color: var(--o-text-neutral-subtle);
				}
				input ~ label:hover,
				input ~ label:hover ~ label {
					background: unset;
					color: var(--o-text-neutral-default) !important;
				}
			}
		}
		&--inverted {
			input:checked ~ label {
				color: var(--o-text-neutral-inverted);
			}
			.orion-rate__wrapper:hover {
				input ~ label {
					background: unset;
					color: var(--o-text-neutral-subtle);
				}
				input ~ label:hover,
				input ~ label:hover ~ label {
					background: unset;
					color: var(--o-text-neutral-inverted) !important;
				}
			}
		}
	});
}
