@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-chips {
	.ellipsis();
	position: relative;
	display: inline-flex;
	align-items: center;
	max-width: 100%;
	font-weight: 600;
	border-radius: 1.25rem;
	white-space: nowrap;
	border-width: 0.125rem;
	border-style: solid;

	&__close {
		position: absolute;
		right: calc(3rem / 16);

		&:hover {
			opacity: 1;
			color: var(--text-default-inverted) !important;
			border-color: var(--border-neutral-inverted) !important;
		}
	}

	&__main,
	&__dual {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__dual {
		background: var(--background-neutral-default);
	}

each(@colorsAndGreys, {
		&--@{value} {
			color: var(--text-default-inverted);
			background: var(~"--background-@{value}-default");
			border-color: var(~"--border-@{value}-default");

			.orion-chips__dual {
				color: var(~"--text-@{value}-default");
			}

			&.orion-chips--outline,
			&.orion-chips--dual {
				.orion-chips__close {
					color: var(~"--text-@{value}-default") !important;
					&:hover {
						border-color: var(~"--border-@{value}-default") !important;
					}
				}
			}
			
			&.orion-chips--outline {
				color: var(~"--text-@{value}-default");
				background: var(~"--background-@{value}-minimal");
				border-color: transparent;

				.orion-chips__dual {
					color: var(~"--text-@{value}-default");
				}
			}
		}

		&--@{value}-alt {
			color: var(--text-default-inverted);
			background: var(~"--background-@{value}-active");
			border-color: transparent;

			.orion-chips__dual {
				color: var(~"--text-@{value}-subtle");
			}

			&.orion-chips--outline,
			&.orion-chips--dual {
				.orion-chips__close {
					color: var(~"--text-@{value}-subtle") !important;
					&:hover {
						border-color: var(~"--border-@{value}-default") !important;
					}
				}
			}
			
			&.orion-chips--outline {
				color: var(~"--text-@{value}-subtle");
				background: color-mix(in oklab, var(~"--background-@{value}-active") 15%, transparent);
				border-color: color-mix(in oklab, var(~"--border-@{value}-default") 15%, transparent);

				&:not(.orion-chips--inverse):not(.orion-chips--default) > {
					.orion-chips__main, .orion-chips__dual-content {
						filter: saturate(90%);
					}
				}

				.orion-chips__dual {
					color: var(~"--text-@{value}-subtle");
				}
			}
		}
	});

	&--default {
		color: var(--text-default-default);
		background: var(--background-neutral-subtle);
		border-color: var(--border-neutral-default);

		.orion-chips__close {
				color: var(--text-default-default) !important;
				&:hover {
					border-color: var(--border-neutral-default) !important;
				}
		}

		&.orion-chips--outline {
			background: var(--background-neutral-minimal);
			border-color: var(--border-neutral-default);
		}
	}

	&--inverse {
		color: var(--text-default-inverted);
		background: var(--background-neutral-highlight);
		border-color: var(--border-neutral-inverted);

		.orion-chips__dual {
			color: var(--text-default-default);
		}

		&.orion-chips--dual {
			.orion-chips__close {
				color: var(--text-default-inverted) !important;
				&:hover {
					border-color: var(--border-neutral-inverted) !important;
				}
			}
		}
	}

	&--grey-light, &--grey-lighter {
		color: var(--text-default-inverted);
	}

	&[class*='--grey'] {
		&.orion-chips--outline {
			color: var(--text-default-default);
			background: var(--background-neutral-minimal);
			border-color: var(--border-neutral-default);
		}
	} 

	&--outline:not(&--inverse):not(&--default) {
		.orion-chips__main,
		.orion-chips__dual-content {
			.color-contrast();
		}
	}

	&--xs {
		@paddingClose: 1.25rem;
		height: 1rem;
		border-width: 0.0625rem;
		font-size: 0.75rem;

		.orion-chips {
			&__main,
			&__dual {
				padding: 0 calc(6rem / 16) calc(1rem / 16);
			}
			&__close {
				.close(0.875rem);
			}
		}

		&.orion-chips--closable {
			&:not(.orion-chips--dual) {
				.orion-chips__main {
					padding-right: @paddingClose;
				}
			}
			&.orion-chips--dual {
				.orion-chips__dual {
					padding-right: @paddingClose;
				}
			}
		}
	}

	&--sm {
		@paddingClose: calc(22rem / 16);
		height: 1.25rem;
		font-size: 0.75rem;

		.orion-chips {
			&__main,
			&__dual {
				padding: 0 calc(7rem / 16) calc(1rem / 16);
			}
			&__close {
				.close(calc(14rem / 16));
			}
		}

		&.orion-chips--closable {
			&:not(.orion-chips--dual) {
				.orion-chips__main {
					padding-right: @paddingClose;
				}
			}
			&.orion-chips--dual {
				.orion-chips__dual {
					padding-right: @paddingClose;
				}
			}
		}
	}

	&--md {
		@paddingClose: calc(24rem / 16);
		height: 1.5rem;
		font-size: 0.875rem;

		.orion-chips {
			&__main,
			&__dual {
				padding: 0 calc(8rem / 16) calc(1rem / 16);
			}
			&__close {
				.close(1rem);
			}
		}

		&.orion-chips--closable {
			&:not(.orion-chips--dual) {
				.orion-chips__main {
					padding-right: @paddingClose;
				}
			}
			&.orion-chips--dual {
				.orion-chips__dual {
					padding-right: @paddingClose;
				}
			}
		}
	}

	&--lg {
		@paddingClose: calc(25rem / 16);
		height: calc(28rem / 16);
		font-size: 0.875rem;

		.orion-chips {
			&__main,
			&__dual {
				padding: 0 0.5rem calc(1rem / 16);
			}
			&__close {
				.close(1rem);
			}
		}

		&.orion-chips--closable {
			&:not(.orion-chips--dual) {
				.orion-chips__main {
					padding-right: @paddingClose;
				}
			}
			&.orion-chips--dual {
				.orion-chips__dual {
					padding-right: @paddingClose;
				}
			}
		}
	}

	&--xl {
		@paddingClose: calc(26rem / 16);
		height: 2rem;
		font-size: 0.875rem;

		.orion-chips {
			&__main,
			&__dual {
				padding: 0 0.75rem calc(1rem / 16);
			}
			&__close {
				.close(1.125rem);
			}
		}

		&.orion-chips--closable {
			&:not(.orion-chips--dual) {
				.orion-chips__main {
					padding-right: @paddingClose;
				}
			}
			&.orion-chips--dual {
				.orion-chips__dual {
					padding-right: @paddingClose;
				}
			}
		}
	}
}
