@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-chips {
	.ellipsis();
	position: relative;
	display: inline-flex;
	align-items: center;
	max-width: 100%;

	border-radius: var(--o-radius-round);
	white-space: nowrap;
	border: 1px solid transparent;

	&--squared {
		border-radius: var(--o-radius-md);
	}

	&__close {
		position: absolute;
		right: calc(3rem / 16);

		&:hover {
			opacity: 1;
			color: var(--o-text-default-inverted) !important;
			border-color: var(--o-border-neutral-inverted);
		}
	}

	&__main,
	&__dual {
		display: flex;
		align-items: center;
		height: 100%;
		gap: var(--o-space-8);
	}

	&__dual {
		background: var(--o-background-neutral-default);
	}

	&__icon {
		font-size: var(--o-typography-body2-default-font-size);
	}

	each(@colorsAndGreys, {
		&--@{value} {
			color: white;
			background: var(~"--o-background-@{value}-default");

			.orion-chips__dual {
				color: var(~"--o-text-@{value}-default");
			}

			&.orion-chips--outline,
			&.orion-chips--dual {
				.orion-chips__close {
					color: var(~"--o-text-@{value}-default") !important;

					&:hover {
						border-color: var(~"--o-border-@{value}-default") !important;
					}
				}
			}

			&.orion-chips--nude {
				.orion-chips__close {
					color: var(~"--o-text-@{value}-default") !important;
					border-color: var(~"--o-border-@{value}-default") !important;
				}
			}

			&.orion-chips--outline {
				color: var(~"--o-text-@{value}-default");
				background: var(~"--o-background-@{value}-minimal");
				border: 1px solid var(~"--o-border-@{value}-subtle");

				.orion-chips__dual {
					color: var(~"--o-text-@{value}-default");
					border-left: 1px solid var(~"--o-border-@{value}-subtle");
				}
			}

			&.orion-chips--nude {
				border: 1px solid var(~"--o-border-@{value}-subtle");
				background: var(--o-background-neutral-transparent);
				color: var(~"--o-text-@{value}-default");
			}

			&-alt {
				color: var(--o-text-default-inverted);
				background: var(~"--o-background-@{value}-alt");
				border-color: transparent;

				.orion-chips__dual {
					color: var(~"--o-text-@{value}-alt");
				}

				&.orion-chips--outline,
				&.orion-chips--dual {
					.orion-chips__close {
						color: var(~"--o-text-@{value}-alt") !important;

						&:hover {
							border-color: var(~"--o-border-@{value}-alt") !important;
						}
					}
				}

				&.orion-chips--outline {
					color: var(~"--o-text-@{value}-alt");
					background: color-mix(in oklab, var(~"--o-background-@{value}-alt") 15%, transparent);
					border: 1px solid var(~"--o-border-@{value}-subtle");

					&:not(.orion-chips--inverse):not(.orion-chips--default) > {
						.orion-chips__main, .orion-chips__dual-content {
							filter: saturate(90%);
						}
					}

					.orion-chips__dual {
						color: var(~"--o-text-@{value}-alt");
					}
				}
			}
		}
	});

&--neutral {
	color: var(--o-text-inverted-default);
	background: var(--o-background-neutral-subtle);
	border: 1px solid var(--o-border-neutral-subtle);
}

&--grey-light,
&--grey-lighter {
	color: var(--o-text-default-inverted);
}

&[class*='--grey'] {
	&.orion-chips--outline {
		color: var(--o-text-default-default);
		background: var(--o-background-neutral-minimal);
		border-color: var(--o-border-neutral-default);
	}
}

&--xs {
	@paddingClose: 1.25rem;
	.typography(caption-default);


	.orion-chips {

		&__main,
		&__dual {
			padding: 0 var(--o-space-6);
		}

		&__icon {
			font-size: var(--o-typography-caption-default-font-size);
		}

		&__close {
			.close(var(--o-typography-caption-default-font-size); );
		}
	}

	&.orion-chips--closable {
		&:not(.orion-chips--dual) {
			.orion-chips__main {
				padding-right: @paddingClose;
			}
		}

		&.orion-chips--dual {
			.orion-chips__dual {
				padding-right: @paddingClose;
			}
		}
	}
}

&--sm {
	@paddingClose: calc(22rem / 16);
	.typography(caption-default);

	.orion-chips {

		&__main,
		&__dual {
			padding: 0 var(--o-space-8);
		}

		&__icon {
			font-size: var(--o-typography-caption-default-font-size);
		}

		&__close {
			.close(var(--o-typography-caption-default-font-size));
		}
	}

	&.orion-chips--closable {
		&:not(.orion-chips--dual) {
			.orion-chips__main {
				padding-right: @paddingClose;
			}
		}

		&.orion-chips--dual {
			.orion-chips__dual {
				padding-right: @paddingClose;
			}
		}
	}
}

&--md {
	@paddingClose: calc(24rem / 16);
	.typography(label-default);

	.orion-chips {
		&__main {
			padding: var(--o-space-2) var(--o-space-8);
		}

		&__dual {
			padding: 0 var(--o-space-8);
		}

		&__close {
			.close(var(--o-typography-label-default-font-size));
		}
	}

	&.orion-chips--closable {
		&:not(.orion-chips--dual) {
			.orion-chips__main {
				padding-right: @paddingClose;
			}
		}

		&.orion-chips--dual {
			.orion-chips__dual {
				padding-right: @paddingClose;
			}
		}
	}
}

&--lg {
	@paddingClose: calc(25rem / 16);
	.typography(label-default);

	.orion-chips {

		&__main,
		&__dual {
			padding: var(--o-space-2) var(--o-space-12);
			gap: var(--o-space-12);
		}

		&__icon {
			font-size: var(--o-typography-label-default-font-size);
		}

		&__close {
			.close(var(--o-typography-label-default-font-size));
		}
	}

	&.orion-chips--closable {
		&:not(.orion-chips--dual) {
			.orion-chips__main {
				padding-right: @paddingClose;
			}
		}

		&.orion-chips--dual {
			.orion-chips__dual {
				padding-right: @paddingClose;
			}
		}
	}
}

&--xl {
	@paddingClose: calc(26rem / 16);
	height: 2rem;
	.typography(body2-default);

	.orion-chips {

		&__main,
		&__dual {
			padding: var(--o-space-2) var(--o-space-16);
			gap: var(--o-space-16);
		}

		&__icon {
			font-size: var(--o-typography-body2-default-font-size);
		}

		&__close {
			.close(var(--o-typography-body2-default-font-size));
		}
	}

	&.orion-chips--closable {
		&:not(.orion-chips--dual) {
			.orion-chips__main {
				padding-right: @paddingClose;
			}
		}

		&.orion-chips--dual {
			.orion-chips__dual {
				padding-right: @paddingClose;
			}
		}
	}
}
}