@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-pop-confirm {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--o-space-12);
	}

	&__title {
		display: flex;
		gap: var(--o-space-8);
		.typography(body2-bold);

		.orion-icon {
			font-size: 1.25rem;
			color: var(--o-text-primary-default);
		}
	}

	&__title--danger {
		.orion-icon {
			color: var(--o-text-danger-default);
		}
	}

	&__actions {
		display: flex;
		gap: var(--o-space-8);
		align-items: center;
		padding: 0 var(--o-space-24);
	}
}
