@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-horizontal-scroll {
	position: relative;
	overflow-x: hidden;
	display: flex;
	align-items: flex-start;

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: 2;
		width: calc(80rem / 16);
		height: 100%;
		visibility: hidden;
		transition: opacity 0.1s;
	}

	&--show-left-shadow {
		&::before {
			visibility: visible;
		}
	}

	&--show-right-shadow {
		&::after {
			visibility: visible;
		}
	}

	&__slider {
		scrollbar-width: none;
		position: relative;
		overflow-x: scroll;
		overscroll-behavior: contain;
		display: flex;
		gap: 0.5rem;
		width: 100%;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		> * {
			flex-shrink: 0;
		}
	}

	&__preview {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;

		&-legend {
			cursor: pointer;

			&:hover {
				color: var(--o-text-info-default);
			}
		}

		> span {
			display: flex;
			align-items: flex-start;
		}

		&-container {
			display: flex;
			gap: 0.5rem;
			width: 100%;
			border-radius: 1rem;
		}

		&-path {
			cursor: pointer;
			position: relative;
			height: 0.25rem;
			border-radius: 1rem;
			background: var(--o-background-neutral-moderate);
		}

		&-visible {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			align-items: center;
			width: 40%;
			margin: 0 2rem;
		}
	}

	&__button {
		cursor: pointer;
		position: absolute;
		z-index: 3;
		top: calc(50% - 0.625rem);

		&--left {
			left: 1.25rem;
		}

		&--right {
			right: 1.25rem;
		}
	}

	each(@colorsAndGreys, {
		@bg: ~"--o-background-@{value}-default";

		&--@{value} {
			&::before {
				left: 0;
				background: linear-gradient(
					to right,
					color-mix(in srgb, var(@bg) 100%, transparent) 60%,
					transparent
				) !important;
			}

			&::after {
				right: 0;
				background: linear-gradient(
					to left,
					color-mix(in srgb, var(@bg) 100%, transparent) 60%,
					transparent
				) !important;
			}
		}
	});

	&--white {
		&::before {
			left: 0;
			background: linear-gradient(to right, white 60%, fade(white, 0));
		}

		&::after {
			right: 0;
			background: linear-gradient(to left, white 60%, fade(white, 0));
		}
	}

	&--drop-shadow {
		&::after,
		&::before {
			top: calc(30rem / 16);
			width: 0.5rem;
			height: calc(100% - 3.75rem);
			background: #717a8e !important;
			filter: blur(20px);
		}

		&::after {
			right: -0.3125rem;
		}
	}
}
