@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-tour-overlay {
	position: fixed;
	z-index: 300;
	background: color-mix(in srgb, var(--o-background-neutral-highlight) 70%, transparent);
}

.orion-tour-step-highlighter {
	pointer-events: none;
	position: absolute;
	z-index: 90000;
	border: 0.125rem solid var(--o-border-neutral-default);
	border-radius: 0.25rem;
}

.orion-tour-tooltip {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	padding: var(--o-space-32);
	border-radius: 0.25rem;
	opacity: 0;
	background: var(--o-background-neutral-default);

	&__body {
		overflow-y: auto;
		max-height: 15.625rem;

		&--sm {
			max-height: 12.5rem;
		}

		&--lg {
			max-height: 31.25rem;
		}

		@media @phone {
			max-height: 12.5rem;
		}
	}

	&__arrow {
		position: absolute;
		z-index: 99999;
		border: 5px solid var(--o-border-neutral-inverted);

		/* 		height: 0;
		width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white; */
		color: var(--o-text-neutral-inverted);
		.square(7px);
	}

	&__close {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		.close(1.125rem);
	}

	&__title {
		padding-right: var(--o-space-32);
		font-size: 1rem;
		font-weight: 600;
		color: var(--o-text-neutral-default);

		+ .orion-tour-tooltip__body {
			margin-top: 0.5rem;
		}
	}

	&__counter {
		min-width: 2.5rem;
		margin-right: 0.5rem;
		font-weight: 800;
		color: var(--o-text-neutral-moderate);
	}

	&__footer {
		.flex-align(center, space-between);

		justify-content: space-between;
		margin-top: 1rem;
		padding-top: var(--o-space-32);
		border-top: 0.0625rem solid;
		border-image:
			linear-gradient(
				to right,
				rgba(var(--o-background-neutral-minimal), 0),
				var(--o-background-neutral-subtle)
			)
			1;

		&--sm {
			flex-wrap: wrap;
			gap: 0.25rem;
			justify-content: space-between;
		}
	}

	&__actions {
		display: flex;
		gap: 0.25rem;
		align-items: center;
	}

	&--sm {
		min-width: 16.25rem;
		max-width: 16.25rem;
	}

	&--md {
		min-width: 16.25rem;
		max-width: 20rem;
	}

	&--lg {
		min-width: 20rem;
		max-width: 31.25rem;
	}
}
