@import "tokens/generated/tokens-light.less";
@import "tokens/generated/tokens-dark.less";
@import "./tokens.less";
/* =================================== SEMANTIC — OVERRIDE =================================== */
:root {
	/* #region Backgrounds */
	--background-primary-alt: var(--colors-primary-alt);
	--background-secondary-alt: var(--colors-secondary-alt);
	--background-error-alt: var(--colors-error-alt);
	--background-warning-alt: var(--colors-warning-alt);
	--background-success-alt: var(--colors-success-alt);
	--background-info-alt: var(--colors-info-alt);
	/* #endregion */
	
	/* #region Text */
	--text-primary-subtle: var(--colors-primary-800);
	--text-primary-alt: var(--colors-primary-alt);

	--text-secondary-subtle: var(--colors-secondary-800);
	--text-secondary-alt: var(--colors-secondary-alt);

	--text-error-alt: var(--colors-error-alt);

	--text-warning-default: var(--colors-warning-500);
	--text-warning-subtle: var(--colors-warning-700);
	--text-warning-disabled: var(--colors-neutral-400);
	--text-warning-alt: var(--colors-warning-alt);

	--text-success-alt: var(--colors-success-alt);
	--text-info-alt: var(--colors-info-alt);
	/* #endregion */

	/* #region Borders */
	--border-primary-alt: var(--colors-primary-alt);
	--border-secondary-alt: var(--colors-secondary-alt);
	--border-info-alt: var(--colors-info-alt);
	--border-error-alt: var(--colors-error-alt);
	--border-success-alt: var(--colors-success-alt);
	--border-warning-alt: var(--colors-warning-alt);
	/* #endregion */

		/* #region Radius */
	--radius-round: var(--radius-999);
	/* #endregion */
	
	/* #region Shadows */
	--shadow-sm: 0 1px 2px rgba(0, 0, 0, var(--opacity-minimal));
	--shadow-md: 0 6px 16px rgba(0, 0, 0, var(--opacity-subtle));
	--shadow-lg: 0 14px 28px rgba(0, 0, 0, var(--opacity-moderate));
	/* #endregion */
	
	/* #region Spacing */
	--spacing-48: var(--spacing-48);
	--spacing-72: var(--spacing-72);
	/* #endregion */
	
	/* #region Layout */
	--layout-header-height: 3rem;
	--layout-header-redirect-height: 3.5rem;
	--layout-aside-width: 26.25rem;
	--layout-nav-width: 16rem;
	/* #endregion */
}





































	




	



































	









