// @import (css) url('https://fonts.bunny.net/css?family=source-sans-pro:200,200i,300,300i,400,400i,600,600i,700,700i');
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap";

@import "./animations";
@import "./dependencies";
@import "./grid";
@import "./helpers";
@import "./reset";
@import "./tooltip";
@import "./transitions";
@import "./tokens/semantic/tokens-orion.less";

:root {
	color-scheme: light dark;
}

* {
	scrollbar-color: var(--o-background-neutral-moderate) transparent;
	scrollbar-width: thin;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 0.4375rem;
	height: 0.4375rem;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--o-background-neutral-moderate);
}

html,
body {
	margin: 0;
	padding: 0;
	background: var(--o-background-neutral-minimal);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.typography(body2-default);

	color: var(--o-text-neutral-default);

	&:has(.orion-modal--visible),
	&:has(.orion-aside--visible) {
		overflow: hidden !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--o-text-neutral-default);
}

h1 {
	.typography(heading-h1);

	@media @tablet {
		font-size: 2rem;
	}

	@media @desktop {
		.typography(heading-h1);
	}
}

h2 {
	.typography(heading-h2);

	@media @tablet {
		font-size: 1.5rem;
	}

	@media @desktop {
		.typography(heading-h2);
	}
}

h3 {
	.typography(heading-h3);

	@media @tablet {
		font-size: 1.25rem;
	}

	@media @desktop {
		.typography(heading-h3);
	}
}

h4 {
	.typography(heading-h4);

	@media @tablet {
		font-size: 1rem;
	}

	@media @desktop {
		.typography(heading-h4);
	}
}

h5 {
	.typography(heading-h5);

	@media @tablet {
		font-size: 0.8125rem;
	}

	@media @desktop {
		.typography(heading-h5);
	}
}

h6 {
	font-size: 0.5rem;

	@media @tablet {
		font-size: 0.7rem;
	}

	@media @desktop {
		font-size: 0.75rem;
	}
}

p {
	margin: 0 0 0.5rem;
}

hr {
	margin: 1rem auto;
	border: 0;
	border-bottom: 0.0625rem solid var(--o-border-neutral-default);

	@media @desktop {
		margin: 2rem auto;
	}
}

.orion-highlighter {
	position: absolute;
	transform: scale(0.85);
	border: 2px solid rgba(var(--o-background-info-default), 0.8);
	border-radius: 0.5rem;
	opacity: 0;
	transition: opacity 0.45s, transform 0.45s;

	&--visible {
		transform: scale(1);
		opacity: 1;
	}
}
