@import './semantic.less';

:root {
	/* ---------- Neutral (grey) ---------- */
	--colors-neutral-0:  #ffffff;
	--colors-neutral-50:  #f7f8fa;
	--colors-neutral-100: #eff1f5;
	--colors-neutral-200: #e1e4ea;
	--colors-neutral-300: #d3d7de;
	--colors-neutral-400: #c5cad3;
	--colors-neutral-500: #b7bcc6; /* = grey */
	--colors-neutral-600: #949baa;
	--colors-neutral-700: #717a8e; /* = grey-dark */
	--colors-neutral-800: #545c6a;
	--colors-neutral-900: #383d47; /* = grey-darker */
	--colors-neutral-950: #1D2028;
	--colors-neutral-1000: #000000;

	/* ---------- Primary (brand) ---------- */
	--colors-primary-50:  #f4f0ff;
	--colors-primary-100: #e3d7ff;
	--colors-primary-200: #c3a6fe;
	--colors-primary-300: #a176fd;
	--colors-primary-400: #864bfc;
	--colors-primary-500: #7027fa;
	--colors-primary-600: #6523e1;
	--colors-primary-700: #541dbc;
	--colors-primary-800: #431796;
	--colors-primary-900: #2d1064;
	--colors-primary-950: #1a0a3a;
	--colors-primary-1000: #2d1064;

	--colors-primary-alt: #a340cd;

	/* ---------- Secondary (pink) ---------- */
	--colors-secondary-50:  #fff8fd;
	--colors-secondary-100: #feeefb;
	--colors-secondary-200: #fcdcf7;
	--colors-secondary-300: #fac3f3;
	--colors-secondary-400: #f8a9ef;
	--colors-secondary-500: #f795ed;
	--colors-secondary-600: #de86d5;
	--colors-secondary-700: #b970b2;
	--colors-secondary-800: #94598e;
	--colors-secondary-900: #633c5f;
	--colors-secondary-950: #633c5f;
	--colors-secondary-100: #633c5f;

	--colors-secondary-alt: #ff0080;

	/* ---------- Success ---------- */
	--colors-success-50:  #e8fcf0;
	--colors-success-100: #ccf6d6;
	--colors-success-200: #99edba;
	--colors-success-300: #66e5a3;
	--colors-success-400: #33de8d;
	--colors-success-500: #00d676;
	--colors-success-600: #00c16a;
	--colors-success-700: #00a058;
	--colors-success-800: #008047;
	--colors-success-900: #00562f;
	--colors-success-950: #002b18;

	--colors-success-alt: #b9d504;

	/* ---------- Info ---------- */
	--colors-info-50:  #ebf4ff;
	--colors-info-100: #cce2ff;
	--colors-info-200: #99c7ff;
	--colors-info-300: #66adff;
	--colors-info-400: #3392ff;
	--colors-info-500: #0078ff;
	--colors-info-600: #006ce6;
	--colors-info-700: #005abf;
	--colors-info-800: #004899;
	--colors-info-900: #003066;
	--colors-info-950: #001833;

	--colors-info-alt: #00e6f4;

	/* ---------- Warning ---------- */
	--colors-warning-50:  #fff5ea;
	--colors-warning-100: #ffe7d2;
	--colors-warning-200: #fed3ac;
	--colors-warning-300: #fdbb83;
	--colors-warning-400: #fdaa64;
	--colors-warning-500: #fd9749;
	--colors-warning-600: #e48842;
	--colors-warning-700: #be7137;
	--colors-warning-800: #985b2c;
	--colors-warning-900: #653c1d;
	--colors-warning-950: #261500;
	
	--colors-warning-alt: rgb(254, 203, 3);

	/* ---------- Error (danger) ---------- */
	--colors-error-50:  #fff1f4;
	--colors-error-100: #fdd1da;
	--colors-error-200: #fba5b9;
	--colors-error-300: #fa7c98;
	--colors-error-400: #f8567d;
	--colors-error-500: #f73568;
	--colors-error-600: #de305e;
	--colors-error-700: #b9284e;
	--colors-error-800: #94203e;
	--colors-error-900: #63152a;
	--colors-error-950: #320a15;

	--colors-error-alt: #7027fa;

    /* ---- Sizing / Spacing / Radius ---- */
    --sizing-2: 0.125rem;
    --sizing-4: 0.25rem;
    --sizing-8: 0.5rem;
    --sizing-12: 0.75rem;
    --sizing-16: 1rem;
    --sizing-24: 1.5rem;
    --sizing-32: 2rem;
    --sizing-48: 3rem;
    --sizing-72: 4.5rem;

    --spacing-2: 0.125rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-48: 3rem;
    --spacing-72: 4.5rem;

    --radius-0: 0rem;
    --radius-4: 0.25rem;
    --radius-8: 0.5rem;
    --radius-12: 1rem;
    --radius-999: 62.4375rem;

    /* ---- Typography scales ---- */
    --typography-h1: 2.488rem;
    --typography-h2: 2.074rem;
    --typography-h3: 1.728rem;
    --typography-h4: 1.44rem;
    --typography-h5: 1.2rem;
    --typography-body-default: 1rem;
    --typography-body-s: 0.833rem;
    --typography-body-large: 1.125rem;
    --typography-body-xs: 0.694rem;

    --font-family: "Source Sans Pro";
}
