@font-face {
  font-family: 'coolicons';
  src:
    url('fonts/coolicons.ttf?44fbbv') format('truetype'),
    url('fonts/coolicons.woff?44fbbv') format('woff'),
    url('fonts/coolicons.svg?44fbbv#coolicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coolicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ci-add_column:before {
  content: "\e900";
}
.ci-add_minus_square:before {
  content: "\e901";
}
.ci-add_plus_circle:before {
  content: "\e902";
}
.ci-add_plus_square:before {
  content: "\e903";
}
.ci-add_plus:before {
  content: "\e904";
}
.ci-add_row:before {
  content: "\e905";
}
.ci-add_to_queue:before {
  content: "\e906";
}
.ci-airplay:before {
  content: "\e907";
}
.ci-alarm:before {
  content: "\e908";
}
.ci-archive:before {
  content: "\e909";
}
.ci-arrow_circle_down_left:before {
  content: "\e90a";
}
.ci-arrow_circle_down_right:before {
  content: "\e90b";
}
.ci-arrow_circle_down:before {
  content: "\e90c";
}
.ci-arrow_circle_left:before {
  content: "\e90d";
}
.ci-arrow_circle_right:before {
  content: "\e90e";
}
.ci-arrow_circle_up_left:before {
  content: "\e90f";
}
.ci-arrow_circle_up_right:before {
  content: "\e910";
}
.ci-arrow_circle_up:before {
  content: "\e911";
}
.ci-arrow_down_left_lg:before {
  content: "\e912";
}
.ci-arrow_down_left_md:before {
  content: "\e913";
}
.ci-arrow_down_left_sm:before {
  content: "\e914";
}
.ci-arrow_down_lg:before {
  content: "\e915";
}
.ci-arrow_down_md:before {
  content: "\e916";
}
.ci-arrow_down_right_lg:before {
  content: "\e917";
}
.ci-arrow_down_right_md:before {
  content: "\e918";
}
.ci-arrow_down_right_sm:before {
  content: "\e919";
}
.ci-arrow_down_sm:before {
  content: "\e91a";
}
.ci-arrow_down_up:before {
  content: "\e91b";
}
.ci-arrow_left_lg:before {
  content: "\e91c";
}
.ci-arrow_left_md:before {
  content: "\e91d";
}
.ci-arrow_left_right:before {
  content: "\e91e";
}
.ci-arrow_left_sm:before {
  content: "\e91f";
}
.ci-arrow_reload_02:before {
  content: "\e920";
}
.ci-arrow_right_lg:before {
  content: "\e921";
}
.ci-arrow_right_md:before {
  content: "\e922";
}
.ci-arrow_right_sm:before {
  content: "\e923";
}
.ci-arrow_sub_down_left:before {
  content: "\e924";
}
.ci-arrow_sub_down_right:before {
  content: "\e925";
}
.ci-arrow_sub_left_down:before {
  content: "\e926";
}
.ci-arrow_sub_left_up:before {
  content: "\e927";
}
.ci-arrow_sub_right_down:before {
  content: "\e928";
}
.ci-arrow_sub_right_up:before {
  content: "\e929";
}
.ci-arrow_sub_up_left:before {
  content: "\e92a";
}
.ci-arrow_sub_up_right:before {
  content: "\e92b";
}
.ci-arrow_undo_down_left:before {
  content: "\e92c";
}
.ci-arrow_undo_down_right:before {
  content: "\e92d";
}
.ci-arrow_undo_up_left:before {
  content: "\e92e";
}
.ci-arrow_undo_up_right:before {
  content: "\e92f";
}
.ci-arrow_up_left_lg:before {
  content: "\e930";
}
.ci-arrow_up_left_md:before {
  content: "\e931";
}
.ci-arrow_up_left_sm:before {
  content: "\e932";
}
.ci-arrow_up_lg:before {
  content: "\e933";
}
.ci-arrow_up_md:before {
  content: "\e934";
}
.ci-arrow_up_right_lg:before {
  content: "\e935";
}
.ci-arrow_up_right_md:before {
  content: "\e936";
}
.ci-arrow_up_right_sm:before {
  content: "\e937";
}
.ci-arrow_up_sm:before {
  content: "\e938";
}
.ci-arrows_reload_01:before {
  content: "\e939";
}
.ci-bar_bottom:before {
  content: "\e93a";
}
.ci-bar_left:before {
  content: "\e93b";
}
.ci-bar_right:before {
  content: "\e93c";
}
.ci-bar_top:before {
  content: "\e93d";
}
.ci-bell_add:before {
  content: "\e93e";
}
.ci-bell_close:before {
  content: "\e93f";
}
.ci-bell_notification:before {
  content: "\e940";
}
.ci-bell_off:before {
  content: "\e941";
}
.ci-bell_remove:before {
  content: "\e942";
}
.ci-bell_ring:before {
  content: "\e943";
}
.ci-bell:before {
  content: "\e944";
}
.ci-bold:before {
  content: "\e945";
}
.ci-book_open:before {
  content: "\e946";
}
.ci-book:before {
  content: "\e947";
}
.ci-bookmark:before {
  content: "\e948";
}
.ci-building_01:before {
  content: "\e949";
}
.ci-building_02:before {
  content: "\e94a";
}
.ci-building_03:before {
  content: "\e94b";
}
.ci-building_04:before {
  content: "\e94c";
}
.ci-bulb:before {
  content: "\e94d";
}
.ci-calendar_add:before {
  content: "\e94e";
}
.ci-calendar_check:before {
  content: "\e94f";
}
.ci-calendar_close:before {
  content: "\e950";
}
.ci-calendar_days:before {
  content: "\e951";
}
.ci-calendar_event:before {
  content: "\e952";
}
.ci-calendar_remove:before {
  content: "\e953";
}
.ci-calendar_week:before {
  content: "\e954";
}
.ci-calendar:before {
  content: "\e955";
}
.ci-camera:before {
  content: "\e956";
}
.ci-car_auto:before {
  content: "\e957";
}
.ci-caret_circle_down:before {
  content: "\e958";
}
.ci-caret_circle_left:before {
  content: "\e959";
}
.ci-caret_circle_right:before {
  content: "\e95a";
}
.ci-caret_circle_up:before {
  content: "\e95b";
}
.ci-caret_down_md:before {
  content: "\e95c";
}
.ci-caret_down_sm:before {
  content: "\e95d";
}
.ci-caret_left_sm:before {
  content: "\e95e";
}
.ci-caret_right_sm:before {
  content: "\e95f";
}
.ci-caret_up_md:before {
  content: "\e960";
}
.ci-caret_up_sm:before {
  content: "\e961";
}
.ci-chart_bar_horizontal_01:before {
  content: "\e962";
}
.ci-chart_bar_vertical_01:before {
  content: "\e963";
}
.ci-chart_line:before {
  content: "\e964";
}
.ci-chart_pie:before {
  content: "\e965";
}
.ci-chat_add:before {
  content: "\e966";
}
.ci-chat_check:before {
  content: "\e967";
}
.ci-chat_circle_add:before {
  content: "\e968";
}
.ci-chat_circle_check:before {
  content: "\e969";
}
.ci-chat_circle_close:before {
  content: "\e96a";
}
.ci-chat_circle_dots:before {
  content: "\e96b";
}
.ci-chat_circle_remove:before {
  content: "\e96c";
}
.ci-chat_circle:before {
  content: "\e96d";
}
.ci-chat_close:before {
  content: "\e96e";
}
.ci-chat_conversation_circle:before {
  content: "\e96f";
}
.ci-chat_conversation:before {
  content: "\e970";
}
.ci-chat_dots:before {
  content: "\e971";
}
.ci-chat_remove:before {
  content: "\e972";
}
.ci-chat:before {
  content: "\e973";
}
.ci-check_all_big:before {
  content: "\e974";
}
.ci-check_all:before {
  content: "\e975";
}
.ci-check_big:before {
  content: "\e976";
}
.ci-check:before {
  content: "\e977";
}
.ci-checkbox_check:before {
  content: "\e978";
}
.ci-checkbox_fill:before {
  content: "\e979";
}
.ci-checkbox_unchecked:before {
  content: "\e97a";
}
.ci-chevron_down_duo:before {
  content: "\e97b";
}
.ci-chevron_down:before {
  content: "\e97c";
}
.ci-chevron_left_duo:before {
  content: "\e97d";
}
.ci-chevron_left_md:before {
  content: "\e97e";
}
.ci-chevron_left:before {
  content: "\e97f";
}
.ci-chevron_right_duo:before {
  content: "\e980";
}
.ci-chevron_right_md:before {
  content: "\e981";
}
.ci-chevron_right:before {
  content: "\e982";
}
.ci-chevron_up_duo:before {
  content: "\e983";
}
.ci-chevron_up:before {
  content: "\e984";
}
.ci-chromecast:before {
  content: "\e985";
}
.ci-circle_check:before {
  content: "\e986";
}
.ci-circle_help:before {
  content: "\e987";
}
.ci-circle_warning:before {
  content: "\e988";
}
.ci-circle:before {
  content: "\e989";
}
.ci-clock:before {
  content: "\e98a";
}
.ci-close_circle:before {
  content: "\e98b";
}
.ci-close_lg:before {
  content: "\e98c";
}
.ci-close_md:before {
  content: "\e98d";
}
.ci-close_sm:before {
  content: "\e98e";
}
.ci-close_square:before {
  content: "\e98f";
}
.ci-cloud_add:before {
  content: "\e990";
}
.ci-cloud_check:before {
  content: "\e991";
}
.ci-cloud_close:before {
  content: "\e992";
}
.ci-cloud_download:before {
  content: "\e993";
}
.ci-cloud_off:before {
  content: "\e994";
}
.ci-cloud_remove:before {
  content: "\e995";
}
.ci-cloud_upload:before {
  content: "\e996";
}
.ci-cloud:before {
  content: "\e997";
}
.ci-code:before {
  content: "\e998";
}
.ci-coffe_to_go:before {
  content: "\e999";
}
.ci-coffee:before {
  content: "\e99a";
}
.ci-columns:before {
  content: "\e99b";
}
.ci-combine_cells:before {
  content: "\e99c";
}
.ci-command:before {
  content: "\e99d";
}
.ci-compass:before {
  content: "\e99e";
}
.ci-cookie:before {
  content: "\e99f";
}
.ci-copy:before {
  content: "\e9a0";
}
.ci-credit_card_01:before {
  content: "\e9a1";
}
.ci-credit_card_02:before {
  content: "\e9a2";
}
.ci-crop:before {
  content: "\e9a3";
}
.ci-cupcake:before {
  content: "\e9a4";
}
.ci-cylinder:before {
  content: "\e9a5";
}
.ci-data:before {
  content: "\e9a6";
}
.ci-delete_column:before {
  content: "\e9a7";
}
.ci-delete_row:before {
  content: "\e9a8";
}
.ci-desktop_tower:before {
  content: "\e9a9";
}
.ci-desktop:before {
  content: "\e9aa";
}
.ci-devices:before {
  content: "\e9ab";
}
.ci-double_quotes_l:before {
  content: "\e9ac";
}
.ci-double_quotes_r:before {
  content: "\e9ad";
}
.ci-download_package:before {
  content: "\e9ae";
}
.ci-download:before {
  content: "\e9af";
}
.ci-drag_horizontal:before {
  content: "\e9b0";
}
.ci-drag_vertical:before {
  content: "\e9b1";
}
.ci-dummy_circle_small:before {
  content: "\e9b2";
}
.ci-dummy_circle:before {
  content: "\e9b3";
}
.ci-dummy_square_small:before {
  content: "\e9b4";
}
.ci-dummy_square:before {
  content: "\e9b5";
}
.ci-edit_pencil_01:before {
  content: "\e9b6";
}
.ci-edit_pencil_02:before {
  content: "\e9b7";
}
.ci-edit_pencil_line_01:before {
  content: "\e9b8";
}
.ci-edit_pencil_line_02:before {
  content: "\e9b9";
}
.ci-exit:before {
  content: "\e9ba";
}
.ci-expand:before {
  content: "\e9bb";
}
.ci-external_link:before {
  content: "\e9bc";
}
.ci-figma:before {
  content: "\e9bd";
}
.ci-file_add:before {
  content: "\e9be";
}
.ci-file_blank:before {
  content: "\e9bf";
}
.ci-file_check:before {
  content: "\e9c0";
}
.ci-file_close:before {
  content: "\e9c1";
}
.ci-file_code:before {
  content: "\e9c2";
}
.ci-file_document:before {
  content: "\e9c3";
}
.ci-file_download:before {
  content: "\e9c4";
}
.ci-file_edit:before {
  content: "\e9c5";
}
.ci-file_remove:before {
  content: "\e9c6";
}
.ci-file_search:before {
  content: "\e9c7";
}
.ci-file_upload:before {
  content: "\e9c8";
}
.ci-files:before {
  content: "\e9c9";
}
.ci-filter_off:before {
  content: "\e9ca";
}
.ci-filter:before {
  content: "\e9cb";
}
.ci-first_aid:before {
  content: "\e9cc";
}
.ci-flag:before {
  content: "\e9cd";
}
.ci-folder_add:before {
  content: "\e9ce";
}
.ci-folder_check:before {
  content: "\e9cf";
}
.ci-folder_close:before {
  content: "\e9d0";
}
.ci-folder_code:before {
  content: "\e9d1";
}
.ci-folder_document:before {
  content: "\e9d2";
}
.ci-folder_download:before {
  content: "\e9d3";
}
.ci-folder_edit:before {
  content: "\e9d4";
}
.ci-folder_open:before {
  content: "\e9d5";
}
.ci-folder_remove:before {
  content: "\e9d6";
}
.ci-folder_search:before {
  content: "\e9d7";
}
.ci-folder_upload:before {
  content: "\e9d8";
}
.ci-folder:before {
  content: "\e9d9";
}
.ci-folders:before {
  content: "\e9da";
}
.ci-font:before {
  content: "\e9db";
}
.ci-forward:before {
  content: "\e9dc";
}
.ci-gift:before {
  content: "\e9dd";
}
.ci-globe:before {
  content: "\e9de";
}
.ci-hamburger_lg:before {
  content: "\e9df";
}
.ci-hamburger_md:before {
  content: "\e9e0";
}
.ci-handbag:before {
  content: "\e9e1";
}
.ci-heading_h1:before {
  content: "\e9e2";
}
.ci-heading_h2:before {
  content: "\e9e3";
}
.ci-heading_h3:before {
  content: "\e9e4";
}
.ci-heading_h4:before {
  content: "\e9e5";
}
.ci-heading_h5:before {
  content: "\e9e6";
}
.ci-heading_h6:before {
  content: "\e9e7";
}
.ci-heading:before {
  content: "\e9e8";
}
.ci-headphones:before {
  content: "\e9e9";
}
.ci-heart_01:before {
  content: "\e9ea";
}
.ci-heart_02:before {
  content: "\e9eb";
}
.ci-help:before {
  content: "\e9ec";
}
.ci-hide:before {
  content: "\e9ed";
}
.ci-house_01:before {
  content: "\e9ee";
}
.ci-house_02:before {
  content: "\e9ef";
}
.ci-house_03:before {
  content: "\e9f0";
}
.ci-house_add:before {
  content: "\e9f1";
}
.ci-house_check:before {
  content: "\e9f2";
}
.ci-house_close:before {
  content: "\e9f3";
}
.ci-house_remove:before {
  content: "\e9f4";
}
.ci-image_01:before {
  content: "\e9f5";
}
.ci-image_02:before {
  content: "\e9f6";
}
.ci-info:before {
  content: "\e9f7";
}
.ci-instance:before {
  content: "\e9f8";
}
.ci-italic:before {
  content: "\e9f9";
}
.ci-keyboard:before {
  content: "\e9fa";
}
.ci-label:before {
  content: "\e9fb";
}
.ci-laptop:before {
  content: "\e9fc";
}
.ci-layer:before {
  content: "\e9fd";
}
.ci-layers:before {
  content: "\e9fe";
}
.ci-leaf:before {
  content: "\e9ff";
}
.ci-line_l:before {
  content: "\ea00";
}
.ci-line_m:before {
  content: "\ea01";
}
.ci-line_s:before {
  content: "\ea02";
}
.ci-line_xl:before {
  content: "\ea03";
}
.ci-link_break:before {
  content: "\ea04";
}
.ci-link_horizontal_off:before {
  content: "\ea05";
}
.ci-link_horizontal:before {
  content: "\ea06";
}
.ci-link_vertical:before {
  content: "\ea07";
}
.ci-link:before {
  content: "\ea08";
}
.ci-list_add:before {
  content: "\ea09";
}
.ci-list_check:before {
  content: "\ea0a";
}
.ci-list_checklist:before {
  content: "\ea0b";
}
.ci-list_ordered:before {
  content: "\ea0c";
}
.ci-list_remove:before {
  content: "\ea0d";
}
.ci-list_unordered:before {
  content: "\ea0e";
}
.ci-loading:before {
  content: "\ea0f";
}
.ci-lock_open:before {
  content: "\ea10";
}
.ci-lock:before {
  content: "\ea11";
}
.ci-log_out:before {
  content: "\ea12";
}
.ci-magnifying_glass_minus:before {
  content: "\ea13";
}
.ci-magnifying_glass_plus:before {
  content: "\ea14";
}
.ci-mail_open:before {
  content: "\ea15";
}
.ci-mail:before {
  content: "\ea16";
}
.ci-main_component:before {
  content: "\ea17";
}
.ci-map_pin:before {
  content: "\ea18";
}
.ci-map:before {
  content: "\ea19";
}
.ci-mention:before {
  content: "\ea1a";
}
.ci-menu_alt_01:before {
  content: "\ea1b";
}
.ci-menu_alt_02:before {
  content: "\ea1c";
}
.ci-menu_alt_03:before {
  content: "\ea1d";
}
.ci-menu_alt_04:before {
  content: "\ea1e";
}
.ci-menu_alt_05:before {
  content: "\ea1f";
}
.ci-menu_duo_lg:before {
  content: "\ea20";
}
.ci-menu_duo_md:before {
  content: "\ea21";
}
.ci-mobile_button:before {
  content: "\ea22";
}
.ci-mobile:before {
  content: "\ea23";
}
.ci-monitor_play:before {
  content: "\ea24";
}
.ci-monitor:before {
  content: "\ea25";
}
.ci-moon:before {
  content: "\ea26";
}
.ci-more_grid_big:before {
  content: "\ea27";
}
.ci-more_grid_small:before {
  content: "\ea28";
}
.ci-more_horizontal:before {
  content: "\ea29";
}
.ci-more_vertical:before {
  content: "\ea2a";
}
.ci-mouse:before {
  content: "\ea2b";
}
.ci-move_horizontal:before {
  content: "\ea2c";
}
.ci-move_vertical:before {
  content: "\ea2d";
}
.ci-move:before {
  content: "\ea2e";
}
.ci-moving_desk:before {
  content: "\ea2f";
}
.ci-navigation:before {
  content: "\ea30";
}
.ci-note_edit:before {
  content: "\ea31";
}
.ci-note_search:before {
  content: "\ea32";
}
.ci-note:before {
  content: "\ea33";
}
.ci-notebook:before {
  content: "\ea34";
}
.ci-octagon_check:before {
  content: "\ea35";
}
.ci-octagon_help:before {
  content: "\ea36";
}
.ci-octagon_warning:before {
  content: "\ea37";
}
.ci-octagon:before {
  content: "\ea38";
}
.ci-option:before {
  content: "\ea39";
}
.ci-paper_plane:before {
  content: "\ea3a";
}
.ci-paperclip_attechment_horizontal:before {
  content: "\ea3b";
}
.ci-paperclip_attechment_tilt:before {
  content: "\ea3c";
}
.ci-paragraph:before {
  content: "\ea3d";
}
.ci-path:before {
  content: "\ea3e";
}
.ci-pause_circle:before {
  content: "\ea3f";
}
.ci-pause:before {
  content: "\ea40";
}
.ci-phone:before {
  content: "\ea41";
}
.ci-planet:before {
  content: "\ea42";
}
.ci-play_circle:before {
  content: "\ea43";
}
.ci-play:before {
  content: "\ea44";
}
.ci-printer:before {
  content: "\ea45";
}
.ci-puzzle:before {
  content: "\ea46";
}
.ci-qr_code:before {
  content: "\ea47";
}
.ci-radio_fill:before {
  content: "\ea48";
}
.ci-radio_unchecked:before {
  content: "\ea49";
}
.ci-rainbow:before {
  content: "\ea4a";
}
.ci-redo:before {
  content: "\ea4b";
}
.ci-remove_minus_circle:before {
  content: "\ea4c";
}
.ci-remove_minus:before {
  content: "\ea4d";
}
.ci-rewind:before {
  content: "\ea4e";
}
.ci-rows:before {
  content: "\ea4f";
}
.ci-ruler:before {
  content: "\ea50";
}
.ci-save:before {
  content: "\ea51";
}
.ci-search_magnifying_glass:before {
  content: "\ea52";
}
.ci-select_multiple:before {
  content: "\ea53";
}
.ci-settings_future:before {
  content: "\ea54";
}
.ci-settings:before {
  content: "\ea55";
}
.ci-share_android:before {
  content: "\ea56";
}
.ci-share_ios_export:before {
  content: "\ea57";
}
.ci-shield_check:before {
  content: "\ea58";
}
.ci-shield_warning:before {
  content: "\ea59";
}
.ci-shield:before {
  content: "\ea5a";
}
.ci-shopping_bag_01:before {
  content: "\ea5b";
}
.ci-shopping_bag_02:before {
  content: "\ea5c";
}
.ci-shopping_cart_01:before {
  content: "\ea5d";
}
.ci-shopping_cart_02:before {
  content: "\ea5e";
}
.ci-show:before {
  content: "\ea5f";
}
.ci-shrink:before {
  content: "\ea60";
}
.ci-shuffle:before {
  content: "\ea61";
}
.ci-single_quotes_l:before {
  content: "\ea62";
}
.ci-single_quotes_r:before {
  content: "\ea63";
}
.ci-skip_back:before {
  content: "\ea64";
}
.ci-skip_forward:before {
  content: "\ea65";
}
.ci-slider_01:before {
  content: "\ea66";
}
.ci-slider_02:before {
  content: "\ea67";
}
.ci-slider_03:before {
  content: "\ea68";
}
.ci-sort_ascending:before {
  content: "\ea69";
}
.ci-sort_descending:before {
  content: "\ea6a";
}
.ci-square_check:before {
  content: "\ea6b";
}
.ci-square_help:before {
  content: "\ea6c";
}
.ci-square_warning:before {
  content: "\ea6d";
}
.ci-square:before {
  content: "\ea6e";
}
.ci-star:before {
  content: "\ea6f";
}
.ci-stop_circle:before {
  content: "\ea70";
}
.ci-stop_sign:before {
  content: "\ea71";
}
.ci-stop:before {
  content: "\ea72";
}
.ci-strikethrough:before {
  content: "\ea73";
}
.ci-suitcase:before {
  content: "\ea74";
}
.ci-sun:before {
  content: "\ea75";
}
.ci-swatches_palette:before {
  content: "\ea76";
}
.ci-swicht_left:before {
  content: "\ea77";
}
.ci-swicht_right:before {
  content: "\ea78";
}
.ci-table_add:before {
  content: "\ea79";
}
.ci-table_remove:before {
  content: "\ea7a";
}
.ci-table:before {
  content: "\ea7b";
}
.ci-tablet_button:before {
  content: "\ea7c";
}
.ci-tablet:before {
  content: "\ea7d";
}
.ci-tag:before {
  content: "\ea7e";
}
.ci-terminal:before {
  content: "\ea7f";
}
.ci-text_align_center:before {
  content: "\ea80";
}
.ci-text_align_justify:before {
  content: "\ea81";
}
.ci-text_align_left:before {
  content: "\ea82";
}
.ci-text_align_right:before {
  content: "\ea83";
}
.ci-text:before {
  content: "\ea84";
}
.ci-ticket_voucher:before {
  content: "\ea85";
}
.ci-timer_add:before {
  content: "\ea86";
}
.ci-timer_close:before {
  content: "\ea87";
}
.ci-timer_remove:before {
  content: "\ea88";
}
.ci-timer:before {
  content: "\ea89";
}
.ci-trash_empty:before {
  content: "\ea8a";
}
.ci-trash_full:before {
  content: "\ea8b";
}
.ci-trending_down:before {
  content: "\ea8c";
}
.ci-trending_up:before {
  content: "\ea8d";
}
.ci-triangle_check:before {
  content: "\ea8e";
}
.ci-triangle_warning:before {
  content: "\ea8f";
}
.ci-triangle:before {
  content: "\ea90";
}
.ci-underline:before {
  content: "\ea91";
}
.ci-undo:before {
  content: "\ea92";
}
.ci-unfold_less:before {
  content: "\ea93";
}
.ci-unfold_more:before {
  content: "\ea94";
}
.ci-user_01:before {
  content: "\ea95";
}
.ci-user_02:before {
  content: "\ea96";
}
.ci-user_03:before {
  content: "\ea97";
}
.ci-user_add:before {
  content: "\ea98";
}
.ci-user_card_id:before {
  content: "\ea99";
}
.ci-user_check:before {
  content: "\ea9a";
}
.ci-user_circle:before {
  content: "\ea9b";
}
.ci-user_close:before {
  content: "\ea9c";
}
.ci-user_remove:before {
  content: "\ea9d";
}
.ci-user_square:before {
  content: "\ea9e";
}
.ci-user_voice:before {
  content: "\ea9f";
}
.ci-users_group:before {
  content: "\eaa0";
}
.ci-users:before {
  content: "\eaa1";
}
.ci-volume_max:before {
  content: "\eaa2";
}
.ci-volume_min:before {
  content: "\eaa3";
}
.ci-volume_minus:before {
  content: "\eaa4";
}
.ci-volume_off_02:before {
  content: "\eaa5";
}
.ci-volume_off:before {
  content: "\eaa6";
}
.ci-volume_plus:before {
  content: "\eaa7";
}
.ci-warning:before {
  content: "\eaa8";
}
.ci-water_drop:before {
  content: "\eaa9";
}
.ci-wavy_check:before {
  content: "\eaaa";
}
.ci-wavy_help:before {
  content: "\eaab";
}
.ci-wavy_warning:before {
  content: "\eaac";
}
.ci-wavy:before {
  content: "\eaad";
}
.ci-wifi_high:before {
  content: "\eaae";
}
.ci-wifi_low:before {
  content: "\eaaf";
}
.ci-wifi_medium:before {
  content: "\eab0";
}
.ci-wifi_none:before {
  content: "\eab1";
}
.ci-wifi_off:before {
  content: "\eab2";
}
.ci-wifi_problem:before {
  content: "\eab3";
}
.ci-window_check:before {
  content: "\eab4";
}
.ci-window_close:before {
  content: "\eab5";
}
.ci-window_code_block:before {
  content: "\eab6";
}
.ci-window_sidebar:before {
  content: "\eab7";
}
.ci-window_terminal:before {
  content: "\eab8";
}
.ci-window:before {
  content: "\eab9";
}
