@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-page {
	flex: 1 0 0%;
	width: calc(100% - 2rem);
	max-width: calc(510rem / 16);
	margin: 0 auto;

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		&--unwrap {
			@media @tablet {
				flex-wrap: nowrap;
			}
		}

		@media @tablet {
			gap: 1.25rem;
		}

		@media @desktop {
			gap: var(--o-space-16);
		}
	}

	&__title-subtitle {
		min-width: 0;
	}

	&__title {
		position: relative;
		display: inline-block;
		flex: 1 1 0%;
		max-width: 100%;
		margin: 0;
		color: var(--o-text-neutral-default);

		&--ellipsis {
			.ellipsis();
		}
	}

	&__subtitle {
		margin: 0 0.25rem 0.25rem;
		color: var(--o-text-neutral-moderate);

		&--sticky {
			position: sticky;
			z-index: 9;
			top: 3rem;
			background: rgba(var(--o-background-neutral-subtle), 0.9);
			backdrop-filter: blur(2px);
		}

		&--ellipsis {
			.ellipsis();
		}
	}

	&__actions {
		display: flex;
		flex: 1;
		gap: var(--o-space-8);
		align-items: center;
		justify-content: flex-end;

		.vue-portal-target {
			display: flex;
			align-items: center;
		}

		.icon:not(.orion-input__icon, .orion-button__icon) {
			font-size: 1.5rem;
			transition: color 0.3s;

			&:not(.orion-icon--button) {
				color: var(--o-text-neutral-moderate);

				&:hover {
					color: var(--o-text-neutral-default);
				}
			}

			@media @tablet {
				font-size: 2rem;
			}
		}

		@media @tablet {
			gap: 0.75rem;
		}

		@media @desktop {
			gap: var(--o-space-8);
		}
	}

	&__subactions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 0.5rem;

		&--sticky {
			position: sticky;
			z-index: 9;
			top: 3rem;
			background: rgba(var(--o-background-neutral-subtle), 0.9);
			backdrop-filter: blur(2px);
		}
	}

	@media @tablet {
		max-width: calc(@BP-tablet - 6rem);
	}

	@media @desktop {
		max-width: calc(@BP-desktop - 6rem);
	}

	@media @desktopXL {
		max-width: calc(@BP-desktopXL - 6rem);
	}
}
