@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-toggle-button-group {

  width: fit-content;
  display: inline-flex;
  gap: var(--o-space-2);
  align-items: center;
  padding: var(--o-space-2);
  border: 1px solid var(--o-border-neutral-default);
  border-radius: var(--o-radius-md);
  background: var(--o-background-neutral-default);

}