@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

details.orion-section summary::-webkit-details-marker {
	display: none;
}

.orion-section {
	+.orion-section--xs {
		margin-top: 1rem;
	}

	+.orion-section--sm {
		margin-top: 2rem;
	}

	+.orion-section--md {
		margin-top: 3rem;
	}

	+.orion-section--lg {
		margin-top: 4rem;
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;

		>div:first-child {
			align-self: center;
		}

		&--collapsible {
			cursor: pointer;
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
		align-items: center;
		min-width: fit-content;
		margin-left: auto;

		.orion-input {
			margin: 0;
		}

		.orion-icon:not(.orion-button .orion-icon, .orion-input .orion-icon) {
			display: inline-block;
			font-size: 1.5rem;

			&:not(:hover) {
				color: var(--o-text-neutral-default);
			}

			@media @phone {
				font-size: 1.25rem;
			}
		}

		@media @phone {
			align-self: flex-end;
		}
	}

	&__title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		margin: 0;

		.orion-section--actions & {
			flex: 1 0 100%;
			padding: var(--o-space-8);
		}

		&-chevron {
			transform: translateY(-0.0625rem);
			align-self: flex-end;
		}
	}

	&__subtitle {
		.typography(body2-default);

		margin: 0.3rem 0 0;
		color: var(--o-text-neutral-subtle);
	}

	&__content {
		opacity: 1;
		transition: opacity 0.3s ease;

		.orion-section__header + & {
			margin-top: 1.25rem;
		}

		&--collapsed {
			opacity: 0;
		}

		&--align {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
			align-items: center;

			&-left {
				justify-content: flex-start;
			}

			&-center {
				justify-content: center;
			}

			&-right {
				justify-content: flex-end;
			}

			&-stretch {
				align-items: stretch;

				.orion-button {
					flex: 1 1 0%;
				}
			}
		}
	}
}
