@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-nav-main {
	position: fixed;
	z-index: 11;
	top: 8rem;
	bottom: 0;
	left: 0;
	width: 16rem;

	hr {
		margin: 0;
		padding-left: var(--o-space-48);
		border-image:
			linear-gradient(
				to right,
				rgba(var(--o-background-neutral-default), 0.4),
				rgba(var(--o-background-neutral-default), 0)
			)
			1;
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.5;
		color: rgba(var(--o-background-neutral-moderate), 0.7);

		@media @phone {
			margin: 1.25rem auto;
			font-size: 1rem;
			line-height: 1.25;
		}
	}

	&__wrapper,
	&__children {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden auto;
		width: 100%;
	}

	&__children {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding-bottom: 2rem;
	}

	&__logo {
		position: absolute;
		bottom: 1rem;
		left: 20%;
		display: block;
		width: 60%;
		max-height: 4rem;
		object-fit: contain;
	}

	&--aside {
		position: relative;
		top: unset;
		right: unset;
		bottom: unset;
		left: unset;
		width: auto;
		margin-top: var(--o-space-32);
		margin-left: calc(var(--o-space-48) * -1);

		.orion-nav-main__wrapper,
		.orion-nav-main__children {
			position: relative;
			top: unset;
			right: unset;
			bottom: unset;
			left: unset;
		}
	}
}
