@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-carousel {
	height: 100%;
	display: flex;
	flex-direction: column;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		flex: 1;
		overflow: auto;
	}

	&__poster {
		flex: 1;
	}

	&__navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		color: var(--o-text-default-subtle);

		.orion-icon {
			font-size: var(--o-typography-size-h5);
		}
		

		&-previous,
		&-next {
			&.orion-button--disabled {
				opacity: 0;
				pointer-events: none;
			}
		}

		&-previous {
			order: 1;
		}
		&-next {
			order: 3;
		}

		&-buttons {
			order: 2;
		}

		&--o-space-between {
			justify-content: space-between;

			.orion-carousel__navigation-previous {
				order: 2;
				align-self: flex-end;
			}
		}
	}

	&__dot-section {
		order: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;

		.orion-carousel__navigation--o-space-between & {
			order: 1;
		}
	}

	&__dot {
		transition: background 0.3s, border 0.3s, width 0.3s;
		position: relative;
		overflow: hidden;
		height: 0.5rem;
		width: 0.5rem;
		border-radius: 0.25rem;
		background: var(--o-background-neutral-default);
		border: 1px solid var(--o-border-neutral-subtle);
		cursor: pointer;

		&:hover {
			border-color: var(--color);
		}

		&--active,
		&--past {
			border-color: transparent;
			background-color: var(--color);
		}

		&--past {
			opacity: 0.3;
		}

		&--active {
			.orion-carousel--timer & {
					background-color: color-mix(in srgb, var(--color) 20%, transparent);
					width: 1.5rem;
			}
		}

		&-loader {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: var(--color);
			transform: scale3d(0, 1, 1);
			transform-origin: left;

			.orion-carousel--timer .orion-carousel__dot--active & {
				animation: dotLoader;
				animation-timing-function: linear;
			}
		}
	}

	&__steps-wrapper {
		overflow: hidden;
	}

	&__steps {
		transition: transform 0.3s ease-in-out;
		flex: 1;
		display: flex;
	}
}

@keyframes dotLoader {
	0% {
		transform: scale3d(0, 1, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}


