@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-carousel {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__content {
		overflow: auto;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 1.5rem;
	}

	&__poster {
		flex: 1;
	}

	&__navigation {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		color: var(--o-text-neutral-subtle);

		.orion-icon {
			font-size: var(--o-typography-heading-h5-font-size);
		}

		&-previous,
		&-next {
			&.orion-button--disabled {
				pointer-events: none;
				opacity: 0;
			}
		}

		&-previous {
			order: 1;
		}

		&-next {
			order: 3;
		}

		&-buttons {
			order: 2;
		}

		&--space-between {
			justify-content: space-between;

			.orion-carousel__navigation-previous {
				align-self: flex-end;
				order: 2;
			}
		}
	}

	&__dot-section {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
		order: 2;

		.orion-carousel__navigation--o-space-between & {
			order: 1;
		}
	}

	&__dot {
		cursor: pointer;
		position: relative;
		overflow: hidden;
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid var(--o-border-neutral-subtle);
		border-radius: 0.25rem;
		background: var(--o-background-neutral-default);
		transition: background 0.3s, border 0.3s, width 0.3s;

		&:hover {
			border-color: var(--color);
		}

		&--active,
		&--past {
			border-color: transparent;
			background-color: var(--color);
		}

		&--past {
			opacity: 0.3;
		}

		&--active {
			.orion-carousel--timer & {
				width: 1.5rem;
				background-color: color-mix(in srgb, var(--color) 20%, transparent);
			}
		}

		&-loader {
			position: absolute;
			inset: 0;
			transform-origin: left;
			transform: scale3d(0, 1, 1);
			background-color: var(--color);

			.orion-carousel--timer .orion-carousel__dot--active & {
				animation: dot-loader;
				animation-timing-function: linear;
			}
		}
	}

	&__steps-wrapper {
		overflow: hidden;
	}

	&__steps {
		display: flex;
		flex: 1;
		transition: transform 0.3s ease-in-out;
	}
}

@keyframes dot-loader {
	0% {
		transform: scale3d(0, 1, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
