@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

@positionTop: 4rem;
@positionBottom: 4rem;
@maxWidth: calc(100vw - 2.5rem);
@widthXL: 61.5rem;
@widthLG: 50rem;
@widthMD: 36.5rem;
@widthSM: 30rem;
@widthXS: 24rem;

#o-modal-wrapper {
	display: flex;
	justify-content: center;
}

.orion-modal {
	position: fixed;
	top: 50%;
	overflow: hidden;
	overscroll-behavior: none;
	display: none;
	flex-direction: column;
	max-height: calc(100vh - @positionTop - @positionBottom); // dvh support fallback
	max-height: calc(100dvh - @positionTop - @positionBottom);
	margin: 0;
	padding: 0;
	border: 1px solid var(--o-border-neutral-default);
	border-radius: var(--o-radius-md);
	color: inherit;
	backface-visibility: hidden;
	background: var(--o-background-neutral-default);
	box-shadow: 0 2.5rem 7.5rem fade(black, 50);

	>.orion-loader {
		border-radius: var(--o-radius-xl);
	}

	&:focus {
		outline: none;
	}

	&__close.orion-button {
		margin-left: auto;
	}

	&__title {
		margin-bottom: unset;
		color: var(--o-text-neutral-default);
		.typography(subtitle-bold);
	}

	&__description {
		.typography(body2-default);

		color: var(--o-text-neutral-subtle);
	}

	&__poster {
		overflow: hidden;
		border-radius: var(--o-radius-xl) var(--o-radius-xl) 0 0;
	}

	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--o-space-8);
		order: 1;
		padding: var(--o-space-8) var(--o-space-24);
		border-bottom: 1px solid var(--o-border-neutral-default);
		background-color: var(--o-background-neutral-default);

		[data-orion-theme="dark"] & {
			background-color: var(--o-background-neutral-minimal);
		}
	}

	&__header-container {
		display: flex;
		gap: var(--o-space-8);
		align-items: center;
		min-height: var(--o-height-control-xs);
		margin-top: var(--o-space-4);
		margin-bottom: var(--o-space-4);
	}

	&__body,
	&__footer {
		overflow: auto;
		overscroll-behavior: none;
	}

	&__body {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		order: 2;
		padding: var(--o-space-24);
		border-radius: var(--o-radius-xl);

		>.orion-modal__close {
			align-self: flex-end;
			order: -1;
			margin-bottom: var(--o-space-8);
		}

		>.orion-section {
			flex: 1 1 auto;
		}

		.orion-modal--sm & {
			padding: var(--o-space-24);
		}

		.orion-modal--xs & {
			padding: var(--o-space-24);
		}

		@media @tablet {
			padding: var(--o-space-24);
		}
	}

	&__footer {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: var(--o-space-8);
		order: 4;
		padding: var(--o-space-16) var(--o-space-24);
		border-top: 1px solid var(--o-border-neutral-default);
		border-radius: 0 0 var(--o-radius-xl) var(--o-radius-xl);
		color: var(--o-text-neutral-subtle);
		background: var(--o-background-neutral-minimal);

		.orion-modal--sm & {
			padding: var(--o-space-16) var(--o-space-24);
		}

		.orion-modal--xs & {
			padding: var(--o-space-16);
		}

		&:empty {
			display: none;
		}

		@media @tablet {
			padding: var(--o-space-16) var(--o-space-24);
		}
	}

	&__actions {
		display: flex;
		gap: var(--o-space-8);
		justify-content: flex-end;
		order: 3;
		padding: var(--o-space-16) var(--o-space-24);
		border-top: 1px solid var(--o-border-neutral-default);
		border-radius: 0 0 var(--o-radius-xl) var(--o-radius-xl);

		&:empty {
			display: none;
		}
	}

	&--visible {
		display: flex;
	}

	&--fullscreen {
		top: 0;
		left: 0;
		transform: none;
		width: 100vw;
		max-width: 100vw;
		height: 100vh; // dvh support fallback
		height: 100dvh;
		max-height: 100vh; // dvh support fallback
		max-height: 100dvh;
		border-radius: 0;

		.orion-modal__body {
			height: calc(100vh - 4rem - 5rem); // dvh support fallback
			height: calc(100dvh - 4rem - 5rem);
		}
	}

	&--xl {
		left: ~"max(calc(50% - @{widthXL} / 2), calc(50% - @{maxWidth} / 2))";
		width: ~"min(@{widthXL}, @{maxWidth})";
	}

	&--lg {
		left: ~"max(calc(50% - @{widthLG} / 2), calc(50% - @{maxWidth} / 2))";
		width: ~"min(@{widthLG}, @{maxWidth})";
	}

	&--md {
		left: ~"max(calc(50% - @{widthMD} / 2), calc(50% - @{maxWidth} / 2))";
		width: ~"min(@{widthMD}, @{maxWidth})";
	}

	&--sm {
		left: ~"max(calc(50% - @{widthSM} / 2), calc(50% - @{maxWidth} / 2))";
		width: ~"min(@{widthSM}, @{maxWidth})";
	}

	&--xs {
		left: ~"max(calc(50% - @{widthXS} / 2), calc(50% - @{maxWidth} / 2))";
		width: ~"min(@{widthXS}, @{maxWidth})";
	}

	&--prompt {
		.orion-upload__illustration {
			display: none;
		}

		.orion-modal__body {
			padding-bottom: 0;
		}
	}
}
