@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

@positionTop: 4rem;
@positionBottom: 4rem;
@maxWidth: calc(100vw - 2.5rem);
@widthXL: 61.5rem;
@widthLG: 50rem;
@widthMD: 36.5rem;
@widthSM: 30rem;
@widthXS: 24rem;

#o-modal-wrapper {
	display: flex;
	justify-content: center;
}

.orion-modal {
	position: fixed;
	top: 50%;
	display: none;
	flex-direction: column;
	max-height: calc(100vh - @positionTop - @positionBottom); // dvh support fallback
	max-height: calc(100dvh - @positionTop - @positionBottom);
	background: var(--o-background-neutral-default);
	padding: 0;
	margin: 0;
	border: 1px solid var(--o-border-neutral-default);
	border-radius: var(--o-radius-md);
	box-shadow: 0 2.5rem 7.5rem fade(black, 50);
	overscroll-behavior: none;
	backface-visibility: hidden;
	color: inherit;
	overflow: hidden;

	>.orion-loader {
		border-radius: var(--o-radius-xl);
	}

	&:focus {
		outline: none;
	}

	&__close {
		.close(1.5rem);
		color: var(--o-text-default-subtle);
		position: absolute;
		top: var(--o-space-24);
		right: var(--o-space-16);
	}

	&__title {
		color: var(--o-text-default-default);
		.typography(heading-h5);
		margin-bottom: unset;
	}

	&__poster {
		border-radius: var(--o-radius-md) var(--o-radius-md) 0 0;
		overflow: hidden;
	}

	&__header {
		padding: var(--o-space-24);
		position: relative;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		gap: var(--o-space-8);
	}

	&__body,
	&__footer {
		overflow: auto;
		overscroll-behavior: none;
	}

	&__body {
		order: 1;
		flex: 1 1 auto;
		position: relative;
		border-radius: var(--o-radius-xl);
		padding: var(--o-space-24) var(--o-space-24);
		padding-bottom: var(--o-space-16);

		@media @tablet {
			padding: var(--o-space-24) var(--o-space-24);
			padding-bottom: var(--o-space-16);

			.orion-modal__footer:not(:empty)+& {
				padding-bottom: 0;

				.orion-modal--o-xs & {
					padding-bottom: var(--o-o-space-16);
				}
			}
		}

		.orion-modal--sm & {
			padding: var(--o-space-24);
		}

		.orion-modal--xs & {
			padding: var(--o-space-24);
		}
	}

	&__footer {
		order: 2;
		flex: 0 0 auto;
		padding: 0 var(--o-space-24);

		@media @tablet {
			padding: var(--o-space-16) var(--o-space-24);
		}

		.orion-modal--sm & {
			padding: var(--o-space-16) var(--o-space-24);
		}

		.orion-modal--xs & {
			padding: var(--o-space-16);
		}

		&:empty {
			display: none;
		}
	}

	&__actions {
		flex: 1 0 0%;
		display: flex;
		flex-direction: row-reverse;
		gap: 1rem;
	}

	&--visible {
		display: flex;
	}

	&--fullscreen {
		top: 0;
		transform: none;
		left: 0;
		width: 100vw;
		max-width: 100vw;
		height: 100vh; // dvh support fallback
		max-height: 100vh; // dvh support fallback
		height: 100dvh;
		max-height: 100dvh;
		border-radius: 0;

		.orion-modal__body {
			height: calc(100vh - 4rem - 5rem); // dvh support fallback
			height: calc(100dvh - 4rem - 5rem);
		}
	}

	&--xl {
		width:~'min(@{widthXL}, @{maxWidth})';
		left:~'max(calc(50% - @{widthXL} / 2), calc(50% - @{maxWidth} / 2))';
	}

	&--lg {
		width:~'min(@{widthLG}, @{maxWidth})';
		left:~'max(calc(50% - @{widthLG} / 2), calc(50% - @{maxWidth} / 2))';
	}

	&--md {
		width:~'min(@{widthMD}, @{maxWidth})';
		left:~'max(calc(50% - @{widthMD} / 2), calc(50% - @{maxWidth} / 2))';
	}

	&--sm {
		width:~'min(@{widthSM}, @{maxWidth})';
		left:~'max(calc(50% - @{widthSM} / 2), calc(50% - @{maxWidth} / 2))';
	}

	&--xs {
		width:~'min(@{widthXS}, @{maxWidth})';
		left:~'max(calc(50% - @{widthXS} / 2), calc(50% - @{maxWidth} / 2))';
	}

	&--prompt {
		.orion-upload__illustration {
			display: none;
		}

		.orion-modal__body {
			padding-bottom: 0;
		}
	}
}