@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-nav-tabs {
	position: fixed;
	z-index: 9;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: stretch;
	height: 4rem;
	background: var(--o-background-neutral-default);
	box-shadow: 0 -0.25rem 0.5rem fade(black, 5);

	&__item {
		cursor: pointer;
		position: relative;
		display: flex;
		flex: 1 0 0%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0.25rem;
		font-size: 0.5rem;
		line-height: 1;
		color: var(--o-text-neutral-default);
		text-align: center;
		text-decoration: none;

		&.router-link-exact-active {
			color: var(--o-text-info-default);

			&::before {
				transform: scale3d(1, 1, 1);
			}
		}

		.icon {
			pointer-events: none;
			margin: 0.25rem;
			font-size: 1.25rem;
		}
	}

	@media @tabletLandscape {
		display: none;
	}
}
