@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.icon-size(@size) {
	.square(@size);
	.flex-align();

	font-size: @size;
}

.orion-button-color-variants() {
	each(@colors, {
		&--@{value} {
			color: white;
			background: var(~"--o-background-@{value}-default");

			&:hover {
				background: var(~"--o-background-@{value}-hover");
			}

			&.orion-button--outline, &.orion-button--nude {
				color: var(~"--o-text-@{value}-default");
			}

			&.orion-button--outline {
				background: var(--o-background-neutral-default);
				border: 1px solid var(~"--o-border-@{value}-default");

				&:hover:not(.orion-button--disabled) {
					background: var(~"--o-background-@{value}-minimal");
				}

				&:focus:not(.orion-button--disabled) {
					background: var(~"--o-background-@{value}-minimal");
					border-color: var(~"--o-border-@{value}-default");
				}

				&.orion-button--disabled {
					background: var(--o-background-neutral-disabled);
					color: var(--o-text-neutral-disabled);
					border-color: var(--o-border-neutral-disabled);

					&:hover,
					&:focus {
						background: var(--o-background-neutral-disabled);
						border-color: var(--o-border-neutral-disabled);
					}

					&.orion-button--nude {
						background: transparent;
					}
				}
			}

			&.orion-button--nude {
				&:hover:not(.orion-button--disabled),
				&:focus:not(.orion-button--disabled) {
					background: var(~"--o-background-@{value}-minimal");
				}

				&.orion-button--disabled {
					color: var(--o-text-neutral-disabled);
				}
			}

			&.orion-button--disabled {
				background: var(--o-background-neutral-disabled);
				color: var(--o-text-neutral-disabled);
				border-color: var(--o-border-neutral-disabled);

				&:hover, &:focus {
					background: var(--o-background-neutral-disabled);
					border-color: var(--o-border-neutral-disabled);
				}

				&.orion-button--nude {
					background: transparent;
				}
			}
		}
	});
}

.orion-button {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	border: none;
	border-color: transparent;
	border-style: solid;
	border-width: 0.0625rem;
	border-radius: var(--o-radius-md);
	vertical-align: middle;
	appearance: none;
	outline: none;
	transition:
		background 0.3s,
		opacity 0.3s,
		transform 0.3s,
		border-color 0.2s;
	.typography(body2-bold);

	&:focus {
		outline: 1px solid var(--o-border-neutral-focus);
		outline-offset: 2px;
	}

	&__ripple {
		pointer-events: none;
		position: absolute;
		z-index: 5;
		transform: scale(1);
		width: 1.25rem;
		height: 1.25rem;
		border-radius: var(--o-radius-round);
		opacity: 1;
		background: fade(white, 20);
		animation: click 0.7s ease-in-out 0s 1 normal none running;

		.orion-button--neutral & {
			background: fade(black, 5);

			[data-orion-theme="dark"] & {
				background: fade(white, 10);
			}
		}
	}

	&__text {
		line-height: 1.2;
		text-align: center;

		.orion-button--prefix-icon & {
			&:not(:first-child) {
				text-align: left;
			}
		}
	}

	&__icon {
		.icon-size(1rem);

		pointer-events: none;
	}

	&--sm {
		gap: var(--o-space-4);
		min-height: var(--o-height-control-sm);
		padding: var(--o-space-4) var(--o-space-8);

		.orion-icon {
			font-size: var(--o-typography-label-default-font-size);
		}

		&.orion-button--icon-only {
			width: var(--o-height-control-sm);
			padding: var(--o-space-4) var(--o-space-6);
		}
	}

	&--md {
		gap: var(--o-space-4);
		min-height: var(--o-height-control-md);
		padding: var(--o-space-4) var(--o-space-12);

		&.orion-button--icon-only {
			width: var(--o-height-control-md);
			padding: var(--o-space-4) var(--o-space-6);
		}

		.orion-icon {
			font-size: var(--o-typography-body2-default-font-size);
		}
	}

	&--lg {
		gap: var(--o-space-8);
		min-height: var(--o-height-control-lg);
		padding: var(--o-space-4) var(--o-space-16);

		&.orion-button--icon-only {
			width: var(--o-height-control-lg);
		}

		.orion-icon {
			font-size: var(--o-typography-body1-default-font-size);
		}
	}

	.orion-button-color-variants();

	&--primary {
		&.orion-button--outline {
			border: 1px solid var(--o-border-neutral-default);
			color: var(--o-text-neutral-default);

			&:hover&:not(.orion-button--disabled),
			&:focus&:not(.orion-button--disabled) {
				border-color: var(--o-border-neutral-default);
				background: var(--o-background-neutral-minimal);
			}
		}

		&.orion-button--nude {
			color: var(--o-text-neutral-default);

			&:hover&:not(.orion-button--disabled),
			&:focus&:not(.orion-button--disabled) {
				background: var(--o-background-neutral-subtle);
			}
		}
	}

	&--neutral {
		color: var(--o-text-neutral-default);

		&.orion-button--outline {
			border: 1px solid var(--o-border-neutral-default);
			color: var(--o-text-neutral-default);
		}
	}

	&--nude {
		border-color: transparent !important;
		stroke: none;

		&:not(:hover, :focus) {
			background: none;
		}
	}

	&--disabled {
		cursor: not-allowed;
	}

	&--loading {
		cursor: progress;

		.orion-icon__loading {
			stroke: var(--o-text-neutral-moderate);
		}
	}
}

@keyframes click {
	from {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(30);
		opacity: 0;
	}
}
