@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-nav-main__item {
	cursor: pointer;
	position: relative;
	display: flex;
	gap: 0.75rem;
	align-items: center;
	min-height: 2rem;
	padding-left: var(--o-space-48);
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1.25;
	color: var(--o-text-neutral-default);
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;

	&::before {
		content: "";
		position: absolute;
		top: calc(50% - 0.0625rem);
		left: 0;
		transform-origin: left;
		transform: scale3d(0, 1, 1);
		display: block;
		width: 2rem;
		height: 0.125rem;
		background: var(--o-background-info-default);
		transition: transform 0.3s;
	}

	&.router-link-exact-active,
	&.router-link-active:not(.orion-nav-main__item--root, .active-when-exact) {
		color: var(--o-text-info-default);

		&::before {
			transform: scale3d(1, 1, 1);
		}
	}

	.icon {
		font-size: 1.25rem;

		&.orion-nav-main__item-main-icon {
			pointer-events: none;
		}

		&--children-indicator {
			transform: translate3d(-3rem, 0, 0);
			font-size: 0.8125rem;
			opacity: 0;
			transition: opacity 0.3s, transform 0.3s;
		}

		&--collapse {
			margin-left: auto;
			font-size: 1.5rem;
		}
	}

	&--section-title {
		pointer-events: none;
		cursor: default;
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 1.66;
		color: var(--o-text-neutral-moderate);
		text-transform: none;

		.icon {
			font-size: calc(26rem / 16);

			.orion-nav-main & {
				display: none;
			}
		}
	}

	.orion-nav-main-item__children & {
		font-size: 0.7rem;
	}

	body:not(.istouch) & {
		&:hover:not(.router-link-active) {
			color: var(--o-text-neutral-default);
		}

		&:hover .icon--children-indicator {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	@media @desktop {
		font-size: 0.8125rem;

		&--section-title {
			font-size: 2rem;
		}
	}
}

.orion-nav-main-item {
	&__children {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}
}
