@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-overlay {
	pointer-events: none;
	scrollbar-width: none; /* Firefox */
	position: absolute;
	z-index: 1;
	inset: 0;
	overflow: auto;
	overscroll-behavior: contain;
	opacity: 0;
	background: color-mix(in srgb, black 70%, transparent);
	transition: opacity 0.3s ease-out;

	/* hide scrollbar */
	-ms-overflow-style: none; /* IE and Edge */
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}

	&__overscroll-behavior {
		top: 0;
		left: 0;
		width: calc(100% + 0.0625rem);
		height: calc(100% + 0.0625rem);
	}

	&--global {
		position: fixed;
		// z-index: @zIndexOrionOverlay;
	}

	&--visible {
		pointer-events: all;
		opacity: 1;
	}
}
