@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-progress-bar {
	&__path {
		position: relative;
		background: var(--background-neutral-subtle);
	}

	&__value {
		transition: width 0.3s ease-out;
		will-change: width;
		position: absolute;
		top: 0.125rem;
		left: 0.125rem;
		bottom: 0.125rem;
		max-width: calc(100% - 0.25rem);

		each(@colors, {
      .orion-progress-bar--@{value} & {
        background: var(~"--background-@{value}-default");
      }
    });
	}

	&__label {
		position: absolute;
		top: 0;
		right: 0;
		color: var(--text-default-inverted);
		line-height: 1;
		padding: var(--spacing-8);
		border-radius: 0.25rem;
		font-weight: bold;
		font-size: 0.75rem;

		&:empty {
			opacity: 0;
		}

		each(@colors, {
      .orion-progress-bar--@{value} & {
        background: var(~"--background-@{value}-default");
      }
    });
	}

	&--default {
		.orion-progress-bar__value,
		.orion-progress-bar__label {
			background: var(--background-neutral-default);
		}
	}

	&--inverted {
		.orion-progress-bar__value,
		.orion-progress-bar__label {
			background: var(--background-neutral-highlight);
		}
	}
}
