/* MISSING PRIMITIVE TOKENS FOR ORION */

:root {
	--o-color-primary-alt: #a340cd;
	--o-color-secondary-alt: #ff0080;
	--o-color-success-alt: #b9d504;
	--o-color-info-alt: #00e6f4;
	--o-color-danger-alt: #7027fa;
	--o-spacing-48: 3rem;
	--o-radius-999: 999rem;
}
