/* MISSING SEMANTIC TOKENS FOR ORION */

@import "../primitive/tokens.less";
@import "../primitive/tokens-orion.less";
@import "./tokens.less";
@import "./tokens-light.less";
@import "./tokens-dark.less";

:root {
	/* #region Backgrounds */
	--o-background-primary-alt: var(--o-color-primary-alt);
	--o-background-secondary-alt: var(--o-color-secondary-alt);
	--o-background-danger-alt: var(--o-color-danger-alt);
	--o-background-warning-alt: var(--o-color-warning-alt);
	--o-background-success-alt: var(--o-color-success-alt);
	--o-background-info-alt: var(--o-color-info-alt);

	/* #endregion */

	/* #region Text */
	--o-text-primary-subtle: var(--o-color-primary-800);
	--o-text-primary-alt: var(--o-color-primary-alt);
	--o-text-secondary-subtle: var(--o-color-secondary-800);
	--o-text-secondary-alt: var(--o-color-secondary-alt);
	--o-text-secondary-active: var(--o-color-secondary-600);
	--o-text-danger-alt: var(--o-color-danger-alt);
	--o-text-danger-active: var(--o-color-danger-600);
	--o-text-warning-default: var(--o-color-warning-500);
	--o-text-warning-subtle: var(--o-color-warning-700);
	--o-text-warning-active: var(--o-color-warning-600);
	--o-text-warning-disabled: var(--o-color-neutral-400);
	--o-text-warning-alt: var(--o-color-warning-alt);
	--o-text-success-alt: var(--o-color-success-alt);
	--o-text-success-active: var(--o-color-success-700);
	--o-text-info-alt: var(--o-color-info-alt);
	--o-text-info-active: var(--o-color-info-600);

	/* #endregion */

	/* #region Borders */
	--o-border-primary-alt: var(--o-color-primary-alt);
	--o-border-secondary-alt: var(--o-color-secondary-alt);
	--o-border-info-alt: var(--o-color-info-alt);
	--o-border-danger-alt: var(--o-color-danger-alt);
	--o-border-success-alt: var(--o-color-success-alt);
	--o-border-warning-alt: var(--o-color-warning-alt);

	/* #endregion */

	/* #region Radius */
	--o-radius-round: var(--o-radius-999);

	/* #endregion */

	/* #region Shadows */
	--o-shadow-sm: 0 1px 2px rgb(0 0 0 / var(--o-opacity-minimal));
	--o-shadow-md: 0 6px 16px rgb(0 0 0 / var(--o-opacity-subtle));
	--o-shadow-lg: 0 14px 28px rgb(0 0 0 / var(--o-opacity-moderate));

	/* #endregion */

	/* #region Spacing */
	--o-space-48: var(--o-spacing-48);
	--o-space-72: var(--o-spacing-72);

	/* #endregion */

	/* #region Layout */
	--o-layout-header-height: 3rem;
	--o-layout-header-redirect-height: 3.5rem;
	--o-layout-aside-width: 26.25rem;
	--o-layout-nav-width: 16rem;

	/* #endregion */
}
