@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

@widthLG: 47rem; // 936px
@widthMD: 31.625rem; // 680px
@widthSM: 30rem; // 480px
@widthXS: 24rem; // 340px

.orion-aside {
	transition: box-shadow 0.3s;
	position: fixed;
	top: var(--spacing-24);
	right: var(--spacing-24);
	bottom: var(--spacing-24);
	border-radius: var(--radius-md);
	max-width: calc(100vw - 2.5rem);
	display: none;
	flex-direction: column;
	background: var(--background-neutral-default);
	backface-visibility: hidden;

	[data-orion-theme='dark'] & {
		background-color: var(--background-neutral-minimal);
	}

	@media @tablet {
		max-width: calc(100vw - 5.5rem);
	}

	> .orion-loader {
		border-radius: var(--radius-lg);
	}

	&:focus {
		outline: none;
	}

	&__poster {
		flex: none;
		border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	}

	&__header {
		padding: var(--spacing-24) var(--spacing-24);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-8);
		background-color: var(--background-neutral-default);

		@media @tablet {
			padding: var(--spacing-24) var(--spacing-24);
		}

		.orion-aside--sm & {
			padding: var(--spacing-24) var(--spacing-24);
		}
		.orion-aside--xs & {
			padding: var(--spacing-24);
		}

		&:empty {
			display: none;
		}

		[data-orion-theme='dark'] & {
			background-color: var(--background-neutral-minimal);
		}
	}

	&__title {
		font-size: var(--typography-size-h5);
		margin: 0;
	}

	&__logo {
		width: 6.25rem;
		height: 6.25rem;
		box-shadow: 0 0.0625rem 0.1875rem fade(black, 10);
		border-radius: 0.5rem;
		background: var(--background-neutral-default);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
		margin-right: unset;

		[data-orion-theme='dark'] & {
			box-shadow: 0 0.0625rem 0.1875rem black;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		position: absolute;
		align-items: flex-start;
		gap: 1rem;
		right: calc(100% + 1rem);
		top: 2rem;

		.orion-button {
			width: unset;
			box-shadow: 0 0.3rem 1rem -0.3rem fade(black, 40);
		}
	}

	&__body,
	&__footer {
		overflow: auto;
		overscroll-behavior: contain;
	}

	&__body {
		order: 2;
		position: relative;
		flex: 1 1 auto;
		border-radius: var(--radius-md);
		padding: var(--spacing-24);
		max-width: 100%;
		max-height: 100%;


		// #region Pure CSS scroll shadow
		background:
			linear-gradient(white 30%, rgba(255, 255, 255, 0)),
			linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
			radial-gradient(
				farthest-side at 50% 0,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0)
			),
			radial-gradient(
					farthest-side at 50% 100%,
					rgba(0, 0, 0, 0.2),
					rgba(0, 0, 0, 0)
				)
				0 100%;
		background-repeat: no-repeat;
		background-color: var(--background-neutral-default);
		background-size:
			100% 2.5rem,
			100% 2.5rem,
			100% 0,
			100% 0.5rem;
		background-attachment: local, local, scroll, scroll;

		[data-orion-theme='dark'] & {
			background:
				linear-gradient(
					var(--background-neutral-minimal) 30%,
					rgba(255, 255, 255, 0)
				),
				linear-gradient(
						rgba(255, 255, 255, 0),
						var(--background-neutral-minimal) 70%
					)
					0 100%,
				radial-gradient(
					farthest-side at 50% 0,
					rgba(0, 0, 0, 0),
					rgba(0, 0, 0, 0)
				),
				radial-gradient(
						farthest-side at 50% 100%,
						rgba(0, 0, 0, 0.5),
						rgba(0, 0, 0, 0)
					)
					0 100%;
			background-repeat: no-repeat;
			background-size:
				100% 2.5rem,
				100% 2.5rem,
				100% 0,
				100% 0.5rem;
			background-attachment: local, local, scroll, scroll;
			background-color: var(--background-neutral-minimal);
		}
		// #endregion

		@media @tablet {
			padding: var(--spacing-24);
		}

		.orion-aside--sm & {
			padding: var(--spacing-24);
		}
		.orion-aside--xs & {
			padding: var(--spacing-24);
		}
	}

	&__footer {
		order: 3;
		flex: 0 0 auto;
		border: 1px solid var(--border-neutral-default);
		padding: var(--spacing-16) var(--spacing-24);

		@media @tablet {
			padding: var(--spacing-16) var(--spacing-24);
		}

		.orion-aside--sm & {
			padding: var(--spacing-16) var(--spacing-24);
		}
		.orion-aside--xs & {
			padding: var(--spacing-16);
		}

		&:empty {
			display: none;
		}
	}

	&__close {
		.close(1.5rem);
		z-index: 1;
		position: fixed;
		color: var(--text-default-subtle);
		top: var(--spacing-16);
		right: var(--spacing-16);
		background: var(--background-neutral-default);

		@media @tablet {
			top: var(--spacing-24);
			right: var(--spacing-24);
		}
	}

	&--visible {
		display: flex;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04), 0 6px 12px 0 rgba(0, 0, 0, 0.10);

		[data-orion-theme='dark'] & {
			box-shadow: 0 0 7.5rem black;
		}
	}

	&--xs {
		width: @widthXS;
	}

	&--sm {
		width: @widthSM;
	}

	&--md {
		width: @widthMD;
	}

	&--lg {
		width: @widthLG;
	}
}
