@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

@widthLG: 47rem; // 936px
@widthMD: 31.625rem; // 680px
@widthSM: 30rem; // 480px
@widthXS: 24rem; // 340px

.orion-aside {
	transition: box-shadow 0.3s;
	position: fixed;
	top: var(--o-space-8);
	right: var(--o-space-8);
	bottom: var(--o-space-8);
	border-radius: var(--o-radius-md);
	max-width: calc(100vw - 2.5rem);
	display: none;
	flex-direction: column;
	background: var(--o-background-neutral-default);
	backface-visibility: hidden;

	[data-orion-theme='dark'] & {
		background-color: var(--o-background-neutral-minimal);
	}

	@media @tablet {
		max-width: calc(100vw - 5.5rem);
	}

	>.orion-loader {
		border-radius: var(--o-radius-xl);
	}

	&:focus {
		outline: none;
	}

	&__poster {
		flex: none;
		overflow: hidden;
		border-radius: var(--o-radius-md) var(--o-radius-md) 0 0;
	}

	&__header {
		padding: var(--o-space-8);
		display: flex;
		position: relative;
		flex-direction: column;
		border-top-left-radius: var(--o-radius-md);
		border-top-right-radius: var(--o-radius-md);
		gap: var(--o-space-8);
		background-color: var(--o-background-neutral-default);
		border-bottom: 1px solid var(--o-border-neutral-default);

		.orion-aside__header-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:empty {
			display: none;
		}

		[data-orion-theme='dark'] & {
			background-color: var(--o-background-neutral-minimal);
		}
	}

	&__title {
		padding-left: var(--o-space-16);
		.typography(subtitle-bold);
	}

	&__description {
		.typography(body2-default);
		color: var(--o-text-default-subtle);
		padding: 0 var(--o-space-16);
	}

	&__logo {
		width: 6.25rem;
		height: 6.25rem;
		box-shadow: 0 0.0625rem 0.1875rem fade(black, 10);
		border-radius: 0.5rem;
		background: var(--o-background-neutral-default);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
		margin-right: unset;

		[data-orion-theme='dark'] & {
			box-shadow: 0 0.0625rem 0.1875rem black;
		}
	}

	&__body,
	&__footer {
		overflow: auto;
		overscroll-behavior: contain;
	}

	&__body {
		order: 2;
		position: relative;
		flex: 1 1 auto;
		border-radius: var(--o-radius-md);
		padding: var(--o-space-24);
		max-width: 100%;
		max-height: 100%;


		// #region Pure CSS scroll shadow
		background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
			linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
			radial-gradient(farthest-side at 50% 0,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0)),
			radial-gradient(farthest-side at 50% 100%,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)) 0 100%;
		background-repeat: no-repeat;
		background-color: var(--o-background-neutral-default);
		background-size: 100% 2.5rem,
			100% 2.5rem,
			100% 0,
			100% 0.5rem;
		background-attachment: local,
			local,
			scroll,
			scroll;

		[data-orion-theme='dark'] & {
			background:
				linear-gradient(var(--o-background-neutral-minimal) 30%,
					rgba(255, 255, 255, 0)),
				linear-gradient(rgba(255, 255, 255, 0),
					var(--o-background-neutral-minimal) 70%) 0 100%,
				radial-gradient(farthest-side at 50% 0,
					rgba(0, 0, 0, 0),
					rgba(0, 0, 0, 0)),
				radial-gradient(farthest-side at 50% 100%,
					rgba(0, 0, 0, 0.5),
					rgba(0, 0, 0, 0)) 0 100%;
			background-repeat: no-repeat;
			background-size:
				100% 2.5rem,
				100% 2.5rem,
				100% 0,
				100% 0.5rem;
			background-attachment: local, local, scroll, scroll;
			background-color: var(--o-background-neutral-minimal);
		}

		// #endregion

		@media @tablet {
			padding: var(--o-space-24);
		}

		.orion-aside--sm & {
			padding: var(--o-space-24);
		}

		.orion-aside--xs & {
			padding: var(--o-space-24);
		}
	}

	&__actions {
		order: 3;
		display: flex;
		justify-content: flex-end;
		gap: var(--o-space-8);
		padding: var(--o-space-16) var(--o-space-24);
		border-top: 1px solid var(--o-border-neutral-default);
		border-radius: 0 0 var(--o-radius-md) var(--o-radius-md);

		&:empty {
			display: none;
		}
	}

	&__footer {
		order: 4;
		display: flex;
		flex: 0 0 auto;
		gap: var(--o-space-8);
		padding: var(--o-space-16) var(--o-space-24);
		border-top: 1px solid var(--o-border-neutral-default);
		border-radius: 0 0 var(--o-radius-md) var(--o-radius-md);
		background: var(--o-background-neutral-minimal);
		color: var(--o-text-default-subtle);


		@media @tablet {
			padding: var(--o-space-16) var(--o-space-24);
		}

		.orion-aside--sm & {
			padding: var(--o-space-16) var(--o-space-24);
		}

		.orion-aside--xs & {
			padding: var(--o-space-16);
		}

		&:empty {
			display: none;
		}
	}

	.orion-aside__close {}

	&--visible {
		display: flex;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04), 0 6px 12px 0 rgba(0, 0, 0, 0.10);

		[data-orion-theme='dark'] & {
			box-shadow: 0 0 7.5rem black;
		}
	}

	&--xs {
		width: @widthXS;
	}

	&--sm {
		width: @widthSM;
	}

	&--md {
		width: @widthMD;
	}

	&--lg {
		width: @widthLG;
	}
}