@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-date-range {
	display: flex;

	@media @phone {
		flex-direction: column;
	}

	&__separator {
		width: calc(1rem / 16);
		background: var(--grey-light);
		margin: 0 1rem;

		@media @phone {
			width: auto;
			height: calc(1rem / 16);
			margin: 0.5rem 0;
		}
	}
}
