@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-date-range {
	display: flex;

	&__separator {
		width: calc(1rem / 16);
		margin: 0 1rem;
		background: var(--o-background-neutral-subtle);

		@media @phone {
			width: auto;
			height: calc(1rem / 16);
			margin: 0.5rem 0;
		}
	}

	@media @phone {
		flex-direction: column;
	}
}
