@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";
@import "../../Input/src/OrionInput";

.orion-textarea {
	height: auto;

	&.orion-input {
		align-items: flex-start;
		padding: var(--o-space-6) var(--o-space-12);
	}

	.orion-input__input {
		height: auto;
		min-height: 4rem;
		line-height: 1.25rem;
	}

	.orion-input__pictos {
		display: flex;
	}

	&-max-length {
		.orion-input__input {
			padding-bottom: var(--o-space-24);
		}
	}

	.orion-input__textarea-counter {
		position: absolute;
		right: var(--o-space-12);
		bottom: var(--o-space-6);
		font-size: 0.75rem;
		color: var(--o-text-neutral-moderate);
	}
}
