@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-toggle {
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	gap: var(--o-space-4);
	align-items: center;
	justify-content: flex-end;
	margin: 0;

	&__label {
		cursor: pointer;
		user-select: none;
		.typography(body2-default);

		.orion-toggle--required & {
			padding-right: 0.375rem;

			&::after {
				content: "*";
				position: absolute;
				z-index: 1;
				top: 0;
				color: var(--o-text-danger-default);
			}
		}

		.orion-toggle--reverse & {
			padding-right: var(--o-space-16);
			padding-left: 0;
		}

		.orion-toggle--disabled & {
			cursor: not-allowed;
			color: var(--o-text-neutral-moderate);
		}
	}

	&__input {
		display: none;
	}

	&__core {
		user-select: none;
		position: relative;
		display: flex;
		box-sizing: border-box;
		margin: var(--o-space-4);
		background-color: var(--o-background-neutral-moderate);
		outline: 0;
		transition:
			border-color 0.3s,
			background-color 0.3s;

		&-button {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			overflow: hidden;
			display: block;
			border-radius: 100%;
			background: #fff;
			filter:
				drop-shadow(0 2px 4px rgb(0 0 0 / 3%))
				drop-shadow(0 4px 6px rgb(0 0 0 / 8%));
			transition: transform 0.5s;
		}

		.orion-toggle--disabled & {
			opacity: 0.5;
		}

		.orion-toggle:focus & {
			outline: 1px solid var(--o-border-neutral-focus);
			outline-offset: 1px;
		}
	}

	&__pictos {
		display: none;
	}

	&:hover {
		> .orion-toggle__core {
			background-color: var(--o-background-neutral-hover);
		}
	}

	&--reverse {
		flex-direction: row;
	}

	&--inline {
		display: inline-flex;
	}

	&--checked {
		each(@colors, {
			&.orion-toggle--@{value} {
				> .orion-toggle__core,
				> .orion-toggle__core > .orion-toggle__core-button::before,
				> .orion-toggle__core > .orion-toggle__core-button::after {
					background: var(~"--o-background-@{value}-default");
				}
			}
		});

		&.orion-toggle--neutral {
			> .orion-toggle__core,
			> .orion-toggle__core > .orion-toggle__core-button::before,
			> .orion-toggle__core > .orion-toggle__core-button::after {
				background: var(--o-background-neutral-default);
			}
		}

		&.orion-toggle--inverted {
			> .orion-toggle__core,
			> .orion-toggle__core > .orion-toggle__core-button::before,
			> .orion-toggle__core > .orion-toggle__core-button::after {
				background: var(--o-background-neutral-highlight);
			}
		}
	}

	&--disabled {
		cursor: not-allowed;

		/* stylelint-disable-next-line no-descending-specificity */
		> .orion-toggle__core {
			background: var(--o-background-neutral-disabled);

			> .orion-toggle__core-button {
				background: var(--o-background-neutral-subtle);
			}
		}
	}
}
