@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-toggle {
	--o-toggle-core-width: var(--o-field-height);
	--o-toggle-core-height: calc(var(--o-field-height) / 2 + 0.25rem);
	--o-toggle-core-padding: 0.125rem;
	--o-toggle-core-button-size: calc(var(--o-toggle-core-height) - (var(--o-toggle-core-padding) * 2));
	--o-toggle-core-button-translate-x: 0;
	--o-toggle-vertical-padding: calc((var(--o-field-height) - var(--o-toggle-core-height)) / 2);
	--o-field-input-background-color: var(--o-background-neutral-moderate);

	padding-top: var(--o-toggle-vertical-padding);
	padding-bottom: var(--o-toggle-vertical-padding);

	&__core {
		user-select: none;
		position: relative;
		box-sizing: border-box;
		width: var(--o-toggle-core-width);
		height: var(--o-toggle-core-height);
		padding: var(--o-toggle-core-padding);
		border-radius: var(--o-toggle-core-height);
		background-color: var(--o-field-input-background-color);
		transition:
			border-color 0.3s,
			background-color 0.3s;

		&-button {
			transform: translateX(var(--o-toggle-core-button-translate-x));
			background: var(--o-background-neutral-default);
			filter:
				drop-shadow(0 2px 4px rgb(0 0 0 / 3%))
				drop-shadow(0 4px 6px rgb(0 0 0 / 8%));
			transition: transform 0.3s;
			.circle(var(--o-toggle-core-button-size));
		}
	}

	&--checked {
		--o-toggle-core-button-translate-x: calc(var(--o-toggle-core-width) - var(--o-toggle-core-height));
	}

	.orion-field {
		&__label {
			margin-top: calc((var(--o-toggle-core-height) - var(--o-field-label-min-height)) / 2);
		}

		&__input {
			margin-top: 0;
			border-radius: var(--o-toggle-core-height);
		}
	}
}
