@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-toggle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row-reverse;
	margin: 0;
	gap: var(--o-space-4);
	cursor: pointer;

	&__label {
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
		font-weight: 600;
		font-size: 0.75rem;
		font-family: var(--o-typography-family--ignore-body);
		font-size: var(--o-typography-size-sm);
		font-style: normal;
		font-weight: var(--o-typography-weight-normal);
		line-height: var(--o-typography-line-height-sm); /* 150.038% */

		.orion-toggle--required & {
			padding-right: 0.375rem;
			&::after {
				content: '*';
				position: absolute;
				top: 0;
				z-index: 1;
				color: var(--text-error-default);
			}
		}

		.orion-toggle--reverse & {
			padding-left: 0;
			padding-right: var(--o-space-16);
		}

		.orion-toggle--disabled & {
			color: var(--o-text-default-moderate);
			cursor: not-allowed;
		}
	}

	&__input {
		display: none;
	}

	&__core {
		transition:
			border-color 0.3s,
			background-color 0.3s;
		display: flex;
		position: relative;
		box-sizing: border-box;
		outline: 0;
		margin: var(--o-space-4);
		background-color: var(--o-background-neutral-moderate);
		user-select: none;

		&-button {
			transition: transform 0.5s;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			overflow: hidden;
			border-radius: 100%;
			background: #ffffff;
			filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.03))
				drop-shadow(0 4px 6px rgba(0, 0, 0, 0.08));
		}

		.orion-toggle--disabled & {
			opacity: 0.5;
		}
	}

	&--reverse {
		flex-direction: row;
	}

	&--inline {
		display: inline-flex;
	}

	&--checked {
		each(@colors, {
      &.orion-toggle--@{value} {
        > .orion-toggle__core,
        > .orion-toggle__core > .orion-toggle__core-button::before,
        > .orion-toggle__core > .orion-toggle__core-button::after {
          background: var(~"--o-background-@{value}-default");
        }
      }
    });

		&.orion-toggle--default {
			> .orion-toggle__core,
			> .orion-toggle__core > .orion-toggle__core-button::before,
			> .orion-toggle__core > .orion-toggle__core-button::after {
				background: var(--o-background-info-default);
			}
		}

		&.orion-toggle--inverted {
			> .orion-toggle__core,
			> .orion-toggle__core > .orion-toggle__core-button::before,
			> .orion-toggle__core > .orion-toggle__core-button::after {
				background: var(--o-background-neutral-highlight);
			}
		}
	}

	&--disabled {
		cursor: not-allowed;

		> .orion-toggle__core {
			background: var(--o-background-neutral-disabled);
			> .orion-toggle__core-button {
				background: var(--o-background-neutral-subtle);
			}
		}
	}

	&__pictos {
		display: none;
	}
}



