@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-tab-pane {
	padding: var(--space-48);

	@media @phone {
		padding: var(--space-16) var(--space-32);
		font-size: 0.75rem;
	}

	@media @tabletOnly {
		padding: var(--space-32) var(--space-48);
		font-size: 0.8125rem;
	}
}
