@import '../../Shared/styles/variables.less';
@import '../../Shared/styles/mixins.less';

.orion-tab-pane {
	padding: var(--spacing-48);

	@media @phone {
		padding: var(--spacing-16) var(--spacing-32);
		font-size: 0.75rem;
	}

	@media @tabletOnly {
		padding: var(--spacing-32) var(--spacing-48);
		font-size: 0.8125rem;
	}
}
