/* stylelint-disable no-descending-specificity */
@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	box-shadow: 0 0 0 calc(30rem / 16) var(--o-background-neutral-default) inset !important;
	-webkit-text-fill-color: var(--o-text-neutral-default) !important;

	+ .orion-input__pictos {
		background: none;
	}
}

.orion-checkbox,
.orion-radio,
.orion-toggle {
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	gap: var(--o-space-8);
	align-items: center;
	justify-content: flex-end;
	margin: 0.5rem 0;

	&__label {
		cursor: pointer;
		user-select: none;
		user-select: none;

		[class*="--sm"] > & {
			font-size: var(--o-typography-label-default-font-size);
		}

		.orion-checkbox--required &,
		.orion-radio--required & {
			padding-right: calc(6rem / 16);

			&::after {
				content: "*";
				position: absolute;
				z-index: 1;
				color: var(--o-text-danger-default);
			}
		}
	}

	&__input {
		display: none;
	}

	&__check-container {
		.square(1.25rem);

		display: flex;
		align-items: center;
		align-self: flex-start;
		justify-content: center;
		margin-top: calc(1rem / 16);
		border: 0.0625rem solid var(--o-border-neutral-default);
		border-radius: var(--o-radius-xs);
		background: var(--o-background-neutral-default);
		transition: all 0.2s ease;

		[class*="--sm"] > & {
			.square(1rem);

			margin-top: 0;
		}

		.orion-checkbox--with-slot & {
			align-self: flex-start;
		}

		.orion-checkbox--error & {
			border-color: var(--o-border-neutral-default);
		}

		.orion-radio & {
			border-radius: 100%;
		}

		.orion-checkbox:focus & {
			outline: 1px solid var(--o-border-neutral-focus);
			outline-offset: 1px;
		}

		.orion-radio:focus & {
			outline: 1px solid var(--o-border-neutral-focus);
			outline-offset: 1px;
		}

		svg {
			width: 0.75rem;
			height: 0.5rem;
			fill: none;
			stroke: var(--o-background-neutral-default);
			stroke-dasharray: 1rem;
			stroke-dashoffset: 1rem;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 2;
			transition: all 0.3s ease;
			transition-delay: 0.1s;

			[class*="--disabled"] > & {
				stroke: var(--o-text-neutral-disabled);
			}
		}

		.icon {
			.flex-align();

			font-size: 0.75rem;
			color: var(--o-text-neutral-inverted);

			[class*="--disabled"] > & {
				color: var(--o-text-neutral-disabled);
			}
		}

		[class*="--checked"] > & {
			animation: wave 0.4s ease;

			svg {
				stroke-dashoffset: 0;
			}
		}
	}

	&__check-marker {
		.circle(0.5rem);

		transform: scale(0);
		background: #fff;
		transition: transform 0.3s cubic-bezier(0, 3, 1, 1);

		[class*="--checked"] & {
			transform: scale(1);
		}
	}

	each(@colors, {
		&--@{value} {
			&[class*="--checked"] > [class*="__check-container"] {
				background: var(~"--o-background-@{value}-default");
				border-color: var(~"--o-border-@{value}-default");
			}
		}
	});

	&--danger {
		&[class*="--checked"] > [class*="__check-container"] {
			border-color: var(--o-border-danger-default);
			background: var(--o-background-danger-default);
		}
	}

	&--reverse {
		flex-direction: row;
	}

	&--inline {
		display: inline-flex;
	}

	&--disabled {
		cursor: not-allowed;
		color: var(--o-text-neutral-disabled);

		> [class$="__label"] {
			cursor: not-allowed;
		}

		.orion-checkbox__check-container {
			border-color: var(--o-border-neutral-disabled) !important;
			background: var(--o-background-neutral-disabled) !important;
		}
	}
}

@keyframes wave {
	50% {
		transform: scale(0.9);
	}
}
