@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-draggable {
	cursor: grab;
	user-select: none;
	box-shadow: none;

	&--disabled {
		cursor: not-allowed;
	}

	&.orion-draggable-clone {
		pointer-events: none;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		margin: 0 !important;
		opacity: 0.8;
		box-shadow:
			0 0.125rem 0.125rem fade(black, 3),
			0 0.25rem 0.25rem fade(black, 3),
			0 0.5rem 0.5rem fade(black, 3),
			0 1rem 1rem fade(black, 3),
			0 2rem 2rem fade(black, 3);
		transition: none;
	}
}

.orion-dragging {
	pointer-events: none;
	cursor: grabbing;
	opacity: 0.4;
}

.body--orion-dragging {
	cursor: grabbing !important;
	user-select: none !important;
}
