@import "../../Shared/styles/variables.less";
@import "../../Shared/styles/mixins.less";

.orion-daily-calendar {
	position: relative;

	&__header {
		position: sticky;
		z-index: 4;
		top: 0;
		right: 0;
		left: 0;
		height: 4rem;
		margin: calc(-20rem / 16);
		margin-bottom: 0;
		padding: var(--o-space-48);
		background: var(--o-background-neutral-default);
	}

	&__title {
		max-width: calc(100% - 3.75rem);
	}

	&__background {
		position: relative;
	}

	&__hour {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1rem 0;

		&--now {
			position: absolute;
			transform: translateY(0.5rem);
		}

		&-number {
			margin-right: 1.25rem;
			color: var(--o-text-neutral-moderate);
			.typography(body2-default);

			&--now {
				color: var(--o-text-danger-default);
			}
		}

		&-line {
			width: 100%;
			height: calc(1rem / 16);
			background: var(--o-background-neutral-subtle);

			&--now {
				position: relative;
				z-index: 2;
				height: calc(1rem / 16);
				background: var(--o-background-danger-default);

				&::before {
					content: "";
					position: absolute;
					z-index: 2;
					top: calc(-5rem / 16);
					left: calc(-3rem / 16);
					width: 0;
					height: 0;
					border-top: calc(6rem / 16) solid transparent;
					border-bottom: calc(6rem / 16) solid transparent;
					border-left: 0.5rem solid var(--o-background-danger-default);
				}
			}
		}
	}

	&__task {
		cursor: pointer;
		position: absolute;
		right: 0;
		overflow: hidden;
		width: calc(100% - 3.25rem);
		padding: var(--o-space-8) 0.625rem;
		border-radius: 0.25rem;
		font-weight: 600;
		color: var(--o-text-info-default);
		background: rgba(var(--o-background-info-default), 0.25);
		transition: all 0.2s ease;

		each(@colors, {
			&--@{value} {
				background: color-mix(in oklab, var(~"--o-background-@{value}-default") 20%, transparent);
				color: var(~"--o-text-@{value}-default");

				&:hover {
					background: color-mix(in oklab, var(~"--o-background-@{value}-default") 30%, transparent);
					transform: translate3d(0, calc(-2rem / 16), 0);
					box-shadow: 0 calc(2rem/16) calc(2rem/16) color-mix(in oklab, var(~"--o-background-@{value}-default") 6%, transparent),
					0 0.25rem 0.25rem color-mix(in oklab, var(~"--o-background-@{value}-default") 6%, transparent),
					0 0.5rem 0.5rem color-mix(in oklab, var(~"--o-background-@{value}-default") 6%, transparent),
					0 1rem 1rem color-mix(in oklab, var(~"--o-background-@{value}-default") 6%, transparent),
					0 2rem 2rem color-mix(in oklab, var(~"--o-background-@{value}-default") 6%, transparent);
				}
			}
		});

		p {
			margin: unset;
			font-size: 0.75rem;
			line-height: 0.875rem;
		}

		&-wrapper {
			position: absolute;
			inset: 0 0 0 calc(52rem / 16);
		}
	}

	&__other-days {
		position: absolute;
		z-index: 5;
		top: calc(25rem / 16);
		right: 1.25rem;
		display: flex;
		gap: 0.5rem;
		font-size: 1rem;
		color: var(--o-text-neutral-default);
	}

	&__hidden-task-indicator {
		position: sticky;
		z-index: 3;
		bottom: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
